@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/global-components/btn/_g--btn-01" as *;
@use "@scss/framework/components/link/_c--back-link-a" as *;

.c--quiz-a {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    @extend .f--background-b;
    @extend .u--pt-5;
    @extend .u--pb-5;
    @extend .u--pl-7;
    @extend .u--pr-7;
    @extend .u--width-100;
    @extend .u--position-relative;
    z-index: 1;
    gap: $measure * 6;

    @media screen and ($viewport-type: $mobile) {
        padding: $measure * 20 $measure * 3 $measure * 15;
    }

    &__hd {
        @extend .u--display-flex;
        @extend .u--flex-direction-column;
        @extend .u--align-items-center;
        @extend .u--justify-content-space-between;
        @extend .u--width-100;

        &__title {
            @extend .f--font-f;
            @extend .u--font-medium;
            @extend .f--color-b;
            @extend .u--text-center;
        }
    }

    &__wrapper {
        @extend .u--display-none;
        @extend .u--flex-direction-column;
        @extend .f--background-a;
        @extend .u--pt-5;
        @extend .u--pb-5;
        @extend .u--pl-7;
        @extend .u--pr-7;
        @extend .u--width-100;
        gap: $measure * 6;
        margin: 0 auto;

        @media screen and ($viewport-type: $mobile) {
            padding: $measure * 4 $measure * 3;
        }

        &--is-active {
            @extend .u--display-flex;
        }

        &__hd {
            @extend .u--display-flex;
            @extend .u--flex-direction-column;
            @extend .u--align-items-center;
            @extend .u--justify-content-space-between;
            @extend .u--width-100;

            &__item {
                @extend .f--font-j;
                @extend .f--color-j;
                margin-left: auto;
                margin-bottom: $measure;
            }

            &__wrapper {
                @extend .u--width-100;
                height: $measure * 1.5;
                border-radius: $measure * 3;
                background-color: rgba(map.get($color-options, b), 0.1);
                overflow: hidden;

                &__item {
                    @extend .u--display-block;
                    @extend .f--background-f;
                    @extend .u--height-100;
                    width: 0;
                    border-radius: $measure * 3;
                }
            }
        }

        &__bd {
            @extend .u--display-flex;
            @extend .u--flex-direction-column;
            @extend .u--width-100;
            padding: 0;

            &__subtitle {
                @extend .f--font-h;
                @extend .u--font-medium;
                @extend .f--color-b;
                @extend .u--mb-3;
            }

            &__wrapper {
                @extend .u--display-flex;
                @extend .u--flex-direction-column;
                @extend .u--width-100;
                @extend .u--mb-3;
                gap: $measure * 4;

                &--second {
                    @extend .u--align-items-center;
                    @extend .u--justify-content-center;
                    min-height: 358px;
                }

                &:first-child {
                    @extend .u--align-items-flex-end;
                    @extend .u--mb-5;
                    gap: $measure;
                }

                &__title {
                    @extend .f--font-d;
                    @extend .f--color-c;
                    @extend .u--text-center;
                    @extend .u--width-100;
                    margin-bottom: $measure * 3;
                }

                &__text {
                    @extend .f--font-i;
                    @extend .f--color-b;
                    @extend .u--text-center;
                    margin: 0;
                }
            }
        }

        &__ft {
            @extend .u--display-flex;
            @extend .u--align-items-center;
            @extend .u--justify-content-space-between;
            @extend .u--width-100;
            margin-top: auto;

            &__link {
                @extend .c--back-link-a;
            }

            &__btn {
                @extend .g--btn-01;
                margin-top: 0;
                margin-left: auto;

                @media screen and ($viewport-type: $mobile) {
                    width: fit-content;
                }

                &--second {
                    @extend .g--btn-01--third;
                }
            }
        }
    }
}
