@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/framework/foundation/font/make-font" as *;
@use  "@scss/global-components/link/_g--link-01" as *;

.c--nav-b {
    @extend .u--display-flex;
    @extend .u--align-items-center;
    gap: $measure*4;

    @media all and ($viewport-type: $tabletl) {

        gap: $measure*3;
        flex-direction: column;
        align-items: start;
    }

    &__item {
        @media all and ($viewport-type: $tabletl) {
            position: relative;
        }

        &__link {
            @extend .f--font-i;
            @extend .u--font-semibold;
            @extend .g--link-01;

            @media all and ($viewport-type: $tabletl) {
                @include make-font-h();
            }
        }
    }

}