@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--nav-a {
    &__list-group {
        @extend .u--display-flex;
        align-items: center;

        &__item {
            &__link {
                @extend .u--display-block;
                @extend .f--font-e;
                @extend .f--color-b;
                text-decoration: none;
                
                margin-left: $measure * 2;

                @media all and ($viewport-type: $tabletm) {
                    margin-left: $measure * 4;
                }

                svg {
                    @extend .u--display-block;
                    path {
                        transition: stroke $time-b $ease-standard-a;
                    }
                }

                @media (hover: hover) {
                    &:hover {
                        svg {
                            path {
                                stroke: map.get($color-options, c);
                            }
                        }
                    }
                }
            }
        }
    }
}