@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@terrahq/gc/library" as *;
@use "@scss/global-components/vars.scss" as *;
@use "@scss/global-components/btn/_g--btn-01" as *;
.c--card-n {
    @extend .u--display-flex;
    @extend .u--position-relative;
    @extend .u--width-100;
    text-decoration: none;
    overflow: hidden;
    &__wrapper {
        @extend .u--display-flex;
        @extend .u--flex-direction-column;
        @extend .u--justify-content-center;
        background-color: map.get($colorbg-options, c);
        gap: $measure*3;
        padding: $measure*15 $measure*12;
        width: 50%;
        @media all and ($viewport-type: $tabletl) {
            padding: $measure*8;
        }
        @media all and ($viewport-type: $tabletm) {
            padding: $measure*5;
        }
        @media all and ($viewport-type: $tablets) {
            width: 100%;
        }
        &__item-primary {
            @extend .f--color-a;
            @extend .f--font-e;
        }
        &__item-secondary {
            @extend .f--color-a;
            @extend .f--font-i;
        }
        &__list-group {
            @extend .u--display-flex;
            gap: $measure;
            flex-wrap: wrap;
            &__item {
                @extend .g--btn-01;
            }
        }
    }
    &__media-wrapper {
        @extend .u--position-relative;
        @extend .u--display-flex;
        @extend .u--justify-content-center;
        @extend .u--align-items-center;
        overflow: hidden;
        width: 50%;
        @media all and ($viewport-type: $tablets) {
            display: none;
        }
        &__media {
            @extend .u--display-block;
            @extend .u--position-absolute;
            @extend .u--width-100;
            @extend .u--height-100;
            object-fit: cover;
            object-position: top;
            top: 0;
            left: 0;
            z-index: 1;
        }
        &__wrapper {
            @extend .u--position-absolute;
            @extend .u--display-flex;
            @extend .u--flex-direction-column;
            @extend .u--justify-content-center;
            @extend .u--align-items-center;
            @extend .u--width-100;
            height: auto;
            gap: $measure*3;
            bottom: 0;
            left: 0;
            padding: $measure*5;
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            border-top: 1px solid rgba(255, 255, 255, 0.102);
            background: rgba(255, 255, 255, 0.03);
            z-index: 3;
            &__media {
                @extend .u--display-block;
                max-width: 90px;
                height: auto;
            }
            &__title {
                @extend .f--color-a;
                @extend .f--font-h;
                max-width: 400px;
                text-align: center;
            }
        }
        &__overlay {
            @extend .u--width-100;
            @extend .u--height-100;
            @extend .u--position-absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(map.get($color-options, l), 0) 0%, rgba(map.get($color-options, l), 0.8) 86.42%);
            z-index: 2;
        }
    }
    &--second & {
        &__wrapper {
            background-color: map.get($colorbg-options, a);
            &__item-primary {
                @extend .f--color-b; 
            }
            &__item-secondary {
                @extend .f--color-b; 
            }
        }
    }
    &--third & {
        &__media-wrapper {
            &__media {
                object-position: center;
            }
        }
    }
}