@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/global-components/btn/_g--btn-03" as *;
@use "@scss/framework/components/content/_c--content-a" as *;

.c--card-b {
    @extend .u--display-flex;
    @extend .u--width-100;
    background-color: map.get($color-options, d);
    padding: $measure*4 $measure*3;
    gap: $measure*5 $measure*9;
    flex-wrap: wrap;
    @media all and ($viewport-type: $tabletl) {
        padding: $measure*7 $measure*6;
    }
    @media all and ($viewport-type: $tabletm) {
        padding: $measure*5 $measure*4;
    }
    &__wrapper {
        @extend .u--display-flex;
        flex-direction: column;
        width: 100%;
        @media all and ($viewport-type: $tabletl) {
            width: 50%;
        }
        &__title {
            @extend .f--font-f;
            @extend .f--color-a;
            margin-bottom: $measure*3;
        }
        &__content {
            @extend .u--overflow-auto;
            margin-bottom: $measure*5;
            @extend .c--content-a;
            @extend .c--content-a--second-color;
            @extend .c--content-a--second-text;
        }
        &__btn {
            margin-top: auto;
            @extend .g--btn-03;
        }
    }
    &__media-wrapper {
        @extend .u--display-flex;
        @extend .u--align-items-center;
        width: 100%;
        order: -1;
        justify-content: flex-start;
        @media all and ($viewport-type: $tablets) {
            display: none;
        }
        @media all and ($viewport-type: $tabletl) {
            width: calc(50% - #{$measure*9});
            justify-content: center;
            display: block;
            order: 0;
        }
     
        &__media {
            max-width: 200px;
            max-height: 200px;
            width: 100%;
            height: auto;
            @media all and ($viewport-type: $tabletm) {
                max-height: 400px;
                max-width: 400px;
            }
        }
    }
    &--second & {
        &__wrapper {
            width: 100%;
            &__content {
                @media all and ($viewport-type: $tabletl) {
                    max-height: none;
                    width: 100%;
                }
            }
        }
        &__media-wrapper {
            @extend .u--display-none;
        }
    }
}