@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
.c--card-m {
    @extend .u--display-flex;
    @extend .u--pt-5;
    background-color: transparent;
    @extend .u--pb-5;
    border-bottom: 1px solid map.get($color-options, h);
  &__wrapper {
    @extend .u--pr-5;
    @extend .u--mb-tabletm-3;
    height: fit-content;
    width: 100%;
    @media all and ($viewport-type: $tabletm) {
    max-height: 350px;
    }
    &__media{
         width: 100%;
        max-height: 12.1875rem;
        object-fit: cover;
         @media all and ($viewport-type: $tabletm) {
        max-height: 350px;
        }
    }
  }

  &__hd {
    height: 100%;
    @extend .u--mb-tabletm-3;
    &__title{
          @extend .f--font-i;
          @extend .f--color-i;
           @extend .u--pb-4;
           @extend .u--pb-tabletm-3;
    }
    &__paragraph{
        @extend .f--font-g;
        @extend .u--font-light;
        @extend .f--color-b;
        @extend .u--pb-4;
        @extend .u--pb-tabletm-3;
    }
  }
  &__ft {
    &__title{
            @extend .f--font-i;
          @extend .f--color-i;
           @extend .u--pb-4;
           @extend .u--pb-tabletm-3;
           
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
  }

}
