@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--card-m {
  @extend .u--width-100;
  @extend .u--pt-5;
  @extend .u--pb-5;
  background-color: transparent;

  &:not(:last-child),
  &:only-child {
    border-bottom: 1px solid map.get($color-options, h);
  }


  &__wrapper {
    @extend .u--mb-tabletl-3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 250px;

    @media all and ($viewport-type: $tabletl) {
      height: 350px;
    }
    @media all and ($viewport-type: $tabletm) {
      height: 250px;
    }

    &__media {
      @extend .u--width-100;
      @extend .u--height-100;
      display: block;
      object-fit: cover;
      transition: transform 0.6s cubic-bezier(0.2, 0, 0.38, 0.9);
    }
  }

  &__hd {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    @extend .u--height-100;
    gap: $measure*3;
    @extend .u--pb-tabletl-3;

    &__title {
      @extend .f--font-i;
      @extend .f--color-i;
      letter-spacing: 4.16px;
    }

    &__paragraph {
      @extend .f--font-g;
      @extend .u--font-light;
      @extend .f--color-b;
      text-decoration: none;
    }
  }

  &__ft {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    @extend .u--height-100;

    &__title {
      @extend .f--font-i;
      @extend .f--color-i;
      @extend .u--pb-4;
      @extend .u--pb-tabletl-3;
      letter-spacing: 4.16px;
    }

    &__items {
      @extend .u--display-flex;
      flex-wrap: wrap;
      gap: $measure;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover & {
      &__wrapper {
        &__media {
          transform: scale(1.08);
        }
      }
    }
  }
}
