@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--card-m {
  @extend .u--pt-5;
  @extend .u--pb-5;
  border-bottom: 1px solid map.get($color-options, h);
  background-color: transparent;
   @media (hover: hover) and (pointer: fine) {
        &:hover &  {
          &__wrapper{
            &__media {
            transform: scale(1.08);
            }
          } 
         
        }
      }

  &__wrapper {
    @extend .u--mb-tabletm-3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 15rem;
    min-height: 12.1875rem;

    @media all and ($viewport-type: $tabletm) {
      max-height: 350px;
    }

    &__media {
      @extend .u--width-100;
      @extend .u--height-100;
      display: block;
      object-fit: cover;
      overflow: hidden;
      transition: transform 0.6s cubic-bezier(0.2, 0, 0.38, 0.9);

      @media all and ($viewport-type: $tabletm) {
        max-height: 350px;
      }
      
    }
  }

  &__hd {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    @extend .u--height-100;
    min-height: 12.1875rem;
    @extend .u--mb-tabletm-3;

    @media all and ($viewport-type: $tabletm) {
      min-height: auto;
    }

    &__title {
      @extend .f--font-i;
      @extend .f--color-i;
      @extend .u--pb-4;
      @extend .u--pb-tabletm-3;
      letter-spacing: 4.16px;
    }

    &__paragraph {
      @extend .f--font-g;
      @extend .u--font-light;
      @extend .f--color-b;
      @extend .u--pb-4;
      @extend .u--pb-tabletm-3;
      text-decoration: none
    }
  }

  &__ft {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    @extend .u--height-100;
    min-height: 12.1875rem;

    @media all and ($viewport-type: $tabletm) {
      min-height: auto;
    }

    &__title {
      @extend .f--font-i;
      @extend .f--color-i;
      @extend .u--pb-4;
      @extend .u--pb-tabletm-3;
      letter-spacing: 4.16px;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
