@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/global-components/btn/_g--btn-03" as *;
@use "@scss/framework/components/content/_c--content-a" as *;

.c--card-n {
    @extend .u--display-flex;
    @extend .u--width-100;
    @extend .f--background-g;
    padding: $measure*7 $measure*6;
    gap: $measure*5 $measure*9;
    flex-wrap: wrap;
    @media all and ($viewport-type: $tabletm) {
        padding: $measure*5 $measure*4;
    }
    @media all and ($viewport-type: $tablets) {
        padding: $measure*4 $measure*3;
    }
    &__wrapper {
        @extend .u--display-flex;
        @extend .u--flex-direction-column;
        @extend .u--width-100;
        &__title {
            @extend .f--font-f;
            @extend .f--color-a;
            margin-bottom: $measure*3;
        }
        &__subtitle {
            @extend .f--font-i;
            @extend .f--color-a;
            @extend .u--font-bold;
            margin-bottom: $measure*2;
        }
        &__content {
            @extend .c--content-a;
            @extend .c--content-a--second-color;
            @extend .u--overflow-auto;
            margin-bottom: $measure*5;
        }
    }
}