@use "sass:map";
@use "sass:color";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/global-components/btn/_g--btn-03" as *;
@use "@scss/global-components/pill/_g--pill-01" as *;
@use "@scss/framework/components/content/_c--content-a" as *;

.c--card-o {
  @extend .u--display-flex;
  @extend .u--width-100;
  background-color: rgba(map.get($color-options, h), 0.1);
  padding: $measure*7 $measure*6;
  gap: $measure * 6;

  @media all and ($viewport-type: $tabletm) {
    flex-direction: column;
    gap: $measure * 4;
  }

  &__title {
    @extend .f--font-f;
    @extend .u--font-medium;
    @extend .f--color-b;
    margin-bottom: $measure * 5;

    @media all and ($viewport-type: $tabletm) {
      margin-bottom: $measure * 4;
    }
  }

  &__subtitle {
    @extend .f--font-i;
    @extend .u--font-medium;
    @extend .u--text-uppercase;
    @extend .f--color-i;
    @extend .u--letter-spacing-a;
    margin-bottom: $measure * 3;

    &--solution {
      @extend .f--color-c;
    }
  }

  &__hd {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    margin-bottom: $measure * 5;

    @media all and ($viewport-type: $tabletm) {
      margin-bottom: $measure * 4;
    }

    &__title {
      @extend .f--font-f;
      @extend .u--font-medium;
      @extend .f--color-b;
    }
  }

  &__bd {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    margin-bottom: $measure * 5;

    @media all and ($viewport-type: $tabletm) {
      margin-bottom: $measure * 4;
    }

    &:last-child {
      margin-top: auto;
      margin-bottom: 0;
    }

    &__subtitle {
      @extend .f--font-i;
      @extend .u--font-medium;
      @extend .u--text-uppercase;
      @extend .f--color-c;
      @extend .u--letter-spacing-a;
      margin-bottom: $measure * 3;

      &--second {
        color: map.get($color-options, i) !important;
      }
    }

    &__content {
      @extend .c--content-a;
      opacity: 1;

      &--second {
        opacity: 0.6;
      }
    }
  }

  &__ft {
    margin-top: auto;

    &__subtitle {
      @extend .f--font-i;
      @extend .u--font-medium;
      @extend .u--text-uppercase;
      @extend .f--color-b;
      @extend .u--letter-spacing-a;
      margin-bottom: $measure * 3;
    }

    &__item {
      @extend .f--background-b;
      padding: $measure * 3;
      border-radius: $border-radius-a;

      &__title {
        @extend .f--font-h;
        @extend .u--font-medium;
        @extend .f--color-b;
        margin-bottom: $measure * 1;
      }

      &__subtitle {
        @extend .f--font-i;
        @extend .f--color-b;
      }
    }
  }

  &__media-wrapper {
    @extend .u--position-relative;
    flex-grow: 1;
    margin-bottom: $measure * 2;

    &__overlay {
      @extend .u--position-absolute;
      @extend .u--display-flex;
      @extend .u--flex-direction-column;
      padding: $measure * 3 $measure * 2;
      gap: $measure;

      &__pill {
        @extend .g--pill-01;
        @extend .g--pill-01--fifth;
      }
    }

    &__media {
      height: 100%;
      object-fit: cover;
    }

  }

  &__btn {
    @extend .g--btn-03;
    @extend .g--btn-03--second;
    width: 100%;
    margin-top: auto;

    &:hover & {
      &__artwork {
        path {
          stroke: map.get($color-options, c);
        }
      }
    }

  }

}
