.c--card-h {
    @extend .u--width-100;
    @extend .u--display-flex;
    @extend .u--justify-content-space-between;
    text-decoration: none;
    background-color: rgba(map-get($color-options, h), .1);
    padding: $measure*3;
    @media all and ($viewport-type: $tabletm) {
        background-color: transparent;
        padding: 0 0 0 $measure*2;
    }
    &__wrapper {
        width: calc(100% - 52px - #{$measure*4});
        @media all and ($viewport-type: $tabletm) {
            width: 100%;
        }
        &__title {
            @extend .f--font-h;
            @extend .f--color-k;
            margin-bottom: $measure*2;
            transition: color $time-b $ease-standard-a;
            @media all and ($viewport-type: $tabletm) {
                @include make-font-i();
                margin-bottom: 0;
                white-space: nowrap;
            }
        }
        &__subtitle {
            @extend .f--font-i;
            @extend .f--color-b;
            transition: color $time-b $ease-standard-a;
            @media all and ($viewport-type: $tabletm) {
                display: none;
            }
        }
    }
    &__media-wrapper {
        @media all and ($viewport-type: $tabletm) {
            display: none;
        }
        &__media {
            @extend .u--display-block;
            width: 52px;
            height: 52px;
            object-fit: contain;
            object-position: right top;
        }
    }

    @media (hover: hover) {
        &:hover & {
            &__wrapper {
                &__title {
                    color: map-get($color-options, c);
                }
                &__subtitle {
                    color: map-get($color-options, c);
                }
            }
        }
    }
}