@use "@scss/framework/_var/_vars.scss" as *;

@mixin make-font-a($weight: 600) {
  font-family: $type-a;
  font-weight: $weight;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.05;

  @media all and ($viewport-type: $tablets) {
    font-size: 4rem;
  }

  @media all and ($viewport-type: $tabletm) {
    font-size: 5rem;
    line-height: 0.95;
  }

  @media all and ($viewport-type: $tabletl) {
    font-size: 7.5rem;
    line-height: 1;
  }
}

@mixin make-font-b($weight: 600) {
  font-family: $type-b;
  font-weight: $weight;
  font-style: italic;
  font-size: 3rem;
  line-height: 1.05;

  @media all and ($viewport-type: $tablets) {
    font-size: 4rem;
  }

  @media all and ($viewport-type: $tabletm) {
    font-size: 5rem;
    line-height: 0.95;
  }

  @media all and ($viewport-type: $tabletl) {
    font-size: 7.5rem;
    line-height: 1;
  }
}

@mixin make-font-c($weight: 600) {
  font-family: $type-a;
  font-weight: $weight;
  font-style: normal;
  line-height: 1;
  font-size: 3rem;

  @media all and ($viewport-type: $tabletm) {
    font-size: 3.5rem;
  }

  @media all and ($viewport-type: $tabletl) {
    font-size: 4.5rem;
  }
}

@mixin make-font-d($weight: 600) {
  font-family: $type-b;
  font-weight: $weight;
  font-style: italic;
  line-height: 1;
  font-size: 3rem;

  @media all and ($viewport-type: $tabletm) {
    font-size: 3.5rem;
  }

  @media all and ($viewport-type: $tabletl) {
    font-size: 4.5rem;
  }
}

@mixin make-font-e($weight: 500) {
  font-family: $type-a;
  font-weight: $weight;
  line-height: 1.1;
  font-size: 2rem;
  font-style: normal;

  @media all and ($viewport-type: $tabletm) {
    font-size: 2.5rem;
  }

  @media all and ($viewport-type: $tabletl) {
    font-size: 3rem;
  }
}

@mixin make-font-f($weight: 500) {
  font-family: $type-a;
  font-weight: $weight;
  line-height: 1.2;
  font-size: 1.375rem;

  @media all and ($viewport-type: $tabletm) {
    font-size: 2rem;
  }
}

@mixin make-font-g($weight: 500) {
  font-family: $type-a;
  font-weight: $weight;
  font-size: 1.125rem;
  line-height: 1.4;

  @media all and ($viewport-type: $tabletm) {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

@mixin make-font-h($weight: 500) {
  font-family: $type-a;
  font-weight: $weight;
  font-size: 1rem;
  line-height: 1.4;

  @media all and ($viewport-type: $tabletm) {
    font-size: 1.25rem;
    line-height: 1.3;
  }

  @media all and ($viewport-type: $wide) {
    font-size: 1.125rem;
    line-height: 1.4;
  }
}

@mixin make-font-i($weight: 300) {
  font-family: $type-a;
  font-weight: $weight;
  font-size: 0.875rem;
  line-height: 1.3;

  @media all and ($viewport-type: $tabletm) {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@mixin make-font-j($weight: 300) {
  font-family: $type-a;
  font-weight: $weight;
  line-height: 1.2;
  font-size: 0.75rem;
}

@mixin make-font-k($weight: 500) {
  font-family: $type-b;
  font-weight: $weight;
  line-height: 1.1;
  font-size: 2rem;
  font-style: italic;

  @media all and ($viewport-type: $tabletm) {
    font-size: 2.5rem;
  }

  @media all and ($viewport-type: $tabletl) {
    font-size: 3rem;
  }
}