@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/framework/components/curve/_c--curve-a" as *;
@use "@scss/global-components/btn/_g--btn-03" as *;

.c--hero-a {
    @extend .f--background-d;
    @extend .u--position-relative;
    @extend .u--overflow-hidden;
    min-height: 100vh;
    display: flex;
    padding: $zoomPadingDesktop 0;
    @media all and ($viewport-type: $tablets) {
        padding: $zoomPadingTablets 0;
    }
    &__ft-items {
        @extend .u--position-relative;
        @extend .u--display-flex;
        @extend .u--align-items-center;
        @extend .u--width-100;
        @extend .u--z-index-1;
        padding: $measure*5 0;
        @media all and ($viewport-type: $mobile) {
            padding: $measure*3 0 $measure*5;
        }
        &__wrapper {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 90%;
            @media all and ($viewport-type: $tabletl) {
                width: 100%;
            }
            &__media {
                @extend .u--display-block;
                width: auto;
                height: 48px;
                margin: 0 auto $measure*5;
            }
            &__title {
                @extend .f--font-a;
                @extend .f--color-a;
                @extend .u--text-center;
                margin-bottom: $measure * 7;
                &__artwork {
                    font-family: $type-b;
                    font-style: italic;
                }
            }
            &__btn {
                @extend .g--btn-03;
                margin: 0 auto;
            }
        }
    }

    & + section {
        @extend .c--curve-a;
    }
}