@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@terrahq/gc/library" as *;
@use "@scss/global-components/vars.scss" as *;

.g--btn-01 {
    @include make-btn-01();
    @include make-btn-01-modifier(
        $background-options: (
            "background-color": map.get($color-options, c),
        ),
        $border-options: (
            "border-color": map.get($color-options, c),
            "border-radius": $measure*10,
            "border-width": 1px,
            "border-style": solid,
        ),
        $hover-options: (
            "background-color": map.get($color-options, a),
            "color": map.get($color-options, c),
        ),
        $font-options: (
            "className": f--font-i f--color-a u--font-semibold,
        ),
    );
    &--second {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": transparent,
            ),
            $border-options: (
                "border-color": map.get($color-options, a),
            ),
            $hover-options: (
                "background-color": map.get($color-options, a),
                "color": map.get($color-options, d),
            ),
        );
    }
    &--third {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": transparent,
            ),
            $hover-options: (
                "background-color": map.get($color-options, c),
                "color": map.get($color-options, a),
            ),
            $font-options: (
                "className": f--color-c,
            ),
        );
    }

    &--is-hidden {
        display: none;
    }
}