@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--form-select-a {
    @extend .u--width-100;
    @extend .u--position-relative;
    @extend .u--display-block;

    &__item {
        @extend .u--width-100;
        @extend .f--font-i;
        @extend .u--font-light;
        color: map.get($color-options, b) !important;
        background: transparent !important;
        padding: $measure $measure $measure 0;
        border-width: 0 0 1px 0;
        border-color: map.get($color-options, b);
        border-radius: 0;
        border-style: solid;
        appearance: none;
        cursor: pointer;

        &:focus {
            outline: none;
            border-color: map.get($color-options, b);
        }
    }

    &::after {
        @extend .u--position-absolute;
        @extend .u--display-block;
        pointer-events: none;
        content: "";
        width: 11px;
        height: 11px;
        top: 50%;
        right: $measure * 2;
        border-bottom: 1px solid map.get($color-options, b);
        border-right: 1px solid map.get($color-options, b);
        transform: rotate(45deg) translateY(-100%);
    }
}