.g--card-33 {
    @include make-card-33();
    @include make-card-33-modifier($card-options: ("back-items": yes,
            "breakpoint": $tablets,
            "min-height": 500px),
        $background-options: ("background-color": map-get($colorbg-options, c),
        ),
        $item-primary-options: ("className": f--font-i f--color-c u--text-uppercase u--font-medium u--letter-spacing-a),
        $item-secondary-options: ("className": f--font-f f--color-a u--font-light,
        ),
        $item-tertiary-options: ("className": f--font-g f--color-a u--font-medium,
        ),
        $list-group-item-options: ("className": f--font-h f--color-a u--font-light,
        ),
        $media-options: ("first": yes,
        ),
        $custom-options: (".g--card-33__media-wrapper": ("width": 35%),
            ".g--card-33__media-wrapper__media": ("position": absolute,
                "top": 0),
            ".g--card-33__wrapper": ("width": 65%,
                "display": flex,
                "flex-direction": column,
                "justify-content": center,
            ),
        ));

    @media all and ($viewport-type: $desktop) {
        @include make-card-33-modifier($card-options: ("min-height": unset,
            ),
        );
    }

    @media all and ($viewport-type: $tabletm) {
        @include make-card-33-modifier($custom-options: (".g--card-33__media-wrapper": ("display": none),
                ".g--card-33__wrapper": ("width": 100%,
                ),
            ));
    }

    @media all and ($viewport-type: $tablets) {
        @include make-card-33-modifier($custom-options: (".g--card-33__media-wrapper": ("width": 100%),
                ".g--card-33__media-wrapper__media": ("position": relative,
                    "top": 0),
            ));
    }

    @media all and ($viewport-type: $mobile) {
        @include make-card-33-modifier($custom-options: (".g--card-33__media-wrapper": ("display": flex,
                    "max-height": 400px,
                ),
            ));
    }

    &--second {
        @include make-card-33-modifier($background-options: ("background-color": map-get($color-options, f),
            ),
            $item-primary-options: ("color": map-get($color-options, a),
                "letter-spacing": 4.16px),
            $media-options: ("background-image": url(@img/card-33--second.jpg),
                "background-repeat": no-repeat,
                "background-size": cover,
                "background-position": center,
                "max-width": 80%,
                "height": auto,
                "max-height": 100px,
                "object-fit": contain,
            ),
            $custom-options: (".g--card-33__media-wrapper__media": ("position": relative,
                    "top": auto),
            ));

        @media all and ($viewport-type: $tablets) {
            @include make-card-33-modifier($custom-options: (".g--card-33__media-wrapper": ("padding": $measure*4 0,
                    ),
                ));
        }
    }

    &--third {
        @include make-card-33-modifier(
            $media-options: (
                "hide": yes,
            ),
            $custom-options: (
                ".g--card-33__media-wrapper": ("width": 100%),
                ".g--card-33__media-wrapper__media": ("position": absolute,
                    "top": 0),
                ".g--card-33__wrapper": ("width": 100%,
                    "display": flex,
                    "flex-direction": column,
                    "justify-content": center,
                ),
            ));

    }
}