@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

@use "@scss/global-components/vars.scss" as *;
@use "@scss/framework/components/content/_c--content-a" as *;
.g--card-01 {
    @include make-card-01();
    @include make-card-01-modifier(
        $card-options: (
            "align": left,
            "min-height": 500px,
            "back-items": no
        ),
        $background-options: (
            "background-color": map.get($color-options, j),
        ),
        $item-primary-options: (
            "className": c--content-a c--content-a--second-color c--content-a--third-text,
        ),
        $media-options: (
            "aspect-ratio": 1 1,
            "background-color": transparent,
            "object-fit": contain,
            "object-position": left,
            "width": 58px,
            "height": 58px,
            "first": yes,
        ),
        $custom-options: (
            ".g--card-01__ft-items__media-wrapper" : (
                "margin-bottom": $measure*2
            ),
            ".g--card-01__ft-items__item-primary" : (
                "margin-top": auto,
            ),
        ),
    );

    @media all and ($viewport-type: $laptop) {
        @include make-card-01-modifier(
            $card-options: (
                "min-height": 380px,
            ),
        );
    }

    @media all and ($viewport-type: $tabletl) {
        @include make-card-01-modifier(
            $card-options: (
                "min-height": unset,
            ),
        );
    }

    @media all and ($viewport-type: $tablets) {
        @include make-card-01-modifier(
            $custom-options: (
                ".g--card-01__ft-items__media-wrapper" : (
                    "width": $measure*6,
                    "height": $measure*6
                ),
            ),
        );
    }

    &--second {
        @include make-card-01-modifier(
            $card-options: (
                "back-items": no
            ),
            $background-options: (
                "background-color": map.get($color-options, k),
            ),
        );
    }

    &--third {
        @include make-card-01-modifier(
            $card-options: (
                "back-items": no
            ),
            $background-options: (
                "background-color": map.get($color-options, l),
            ),
        );
    }
}