.g--card-04 {
    @include make-card-04();
    @include make-card-04-modifier(
        $item-primary-options: (
            "className": f--font-f f--color-b,
        ),
        $list-group-item-options: (
            "className": f--font-i f--color-b,
        ),
        $media-options: (
            "height": 58px,
            "width": 58px,
            "first": yes,
        ),
    );
    &--second {
        @include make-card-04-modifier(
            $item-primary-options: (
                "color": map-get($color-options,a),
            ),
            $list-group-item-options: (
                "color": map-get($color-options,a),
            ),
        );
    }
}