.g--card-24 {
    @include make-card-24();
    @include make-card-24-modifier(
        // $card-options: (
        //     "align": center,
        //     "min-height": 500px,
        //     "aspect-ratio": 1 1
        // ),
        // $hover-options: (
        //     "transform": translateY(-8px),
        // ),
        $item-primary-options: (
        //     "color": #638c1d,
        //     "font-family": arial,
        //     "font-size": 2rem,
        //     "font-style": italic,
        //     "font-weight": 400,
        //     "letter-spacing": 1px,
        //     "line-height": 1.5,
        //     "max-lines": 3,
        //     "text-decoration": underline,
        //     "text-decoration-color": #000000,
        //     "text-underline-position": under,
            "className": f--font-j u--text-uppercase f--color-c u--letter-spacing-a,
        //     "opacity": 1
        ),
        // $item-primary-hover-options: (
        //     "color": #cacaca,
        //     "transform": translateX(-8px),
        //     "text-decoration-color": #cacaca,
        // ),
        $item-secondary-options: (
        //     "color": #638c1d,
        //     "font-family": arial,
        //     "font-size": 2rem,
        //     "font-style": italic,
        //     "font-weight": 400,
        //     "letter-spacing": 1px,
        //     "line-height": 1.5,
        //     "max-lines": 3,
        //     "text-decoration": underline,
        //     "text-decoration-color": #000000,
        //     "text-underline-position": under,
            "className": f--font-g f--color-b,
        //     "opacity": 1
        ),
        $item-secondary-hover-options: (
            "color": map-get($color-options, c),
        //     "transform": translateX(-8px),
        //     "text-decoration-color": #cacaca,
        ),
        $list-group-item-options: (
        //     "color": #638c1d,
        //     "font-family": arial,
        //     "font-size": 2rem,
        //     "font-style": italic,
        //     "font-weight": 400,
        //     "letter-spacing": 1px,
        //     "line-height": 1.5,
        //     "max-lines": 3,
        //     "text-decoration": underline,
        //     "text-decoration-color": #000000,
        //     "text-underline-position": under,
            "className": g--pill-01 g--pill-01--third,
        //     "opacity": 1
        ),
        // $list-group-item-hover-options: (
        //     "background-color": #000000,
        //     "background-image": linear-gradient(90deg, map-get($color-options, h) 0%, map-get($color-options, i) 100%),
        //     "background-position": center center,
        //     "background-size": 100% 50%,
        //     "border-color": #638c1d,
        //     "border-radius": 0,
        //     "border-width": 0,
        //     "box-shadow": 4px 3px 0px 0px #fefefe,
        //     "color": #fefefe,
        //     "opacity": .3,
        //     "fill": #fefefe,
        //     "stroke": #fefefe,
        //     "icon-transform": translateX(8px),
        //     "text-decoration-color": #fefefe,
        //     "transform": translateY(-8px),
        // ),
        // $list-group-item-list-options: (
        //     "aligned-at-bottom": "no",
        //     'first': (
        //         "color": #638c1d,
        //         "font-family": arial,
        //         "font-size": 2rem,
        //         "font-style": italic,
        //         "font-weight": 400,
        //         "letter-spacing": 1px,
        //         "line-height": 1.5,
        //         "max-lines": 3,
        //         "text-decoration": underline,
        //         "text-decoration-color": #000000,
        //         "text-underline-position": under,
        //         "className": g--link-01,
        //     ),
        //     2: (
        //         "color": #638c1d,
        //         "font-family": arial,
        //         "font-size": 2rem,
        //         "font-style": italic,
        //         "font-weight": 400,
        //         "letter-spacing": 1px,
        //         "line-height": 1.5,
        //         "max-lines": 3,
        //         "text-decoration": underline,
        //         "text-decoration-color": #000000,
        //         "text-underline-position": under,
        //         "className": g--btn-01,
        //     ),
        // ),
        $media-options: (
            "aspect-ratio": 411 244,
        //     "background-class": f--background-a,
        //     "background-color": #000000,
        //     "background-image": inear-gradient(90deg, map-get($color-options, i) 0%, map-get($color-options, h) 100%),
        //     "background-repeat": no-repeat,
        //     "background-size": 100% 20px,
        //     "background-position": left bottom,
        //     "border-color": map-get($color-options, i),
        //     "border-radius": 2px,
        //     "border-style": solid,
        //     "border-width": 1px,
        //     "object-fit": cover,
        //     "height": 64px,
        //     "full-height": yes,
        //     "max-height": 100px,
        //     "min-height": 60px,
        //     "object-position": center,
            "first": yes,
        //     "hide": no,
        ),
        $media-hover-options: (
            "transform": scale(1.15),
        ),
    );
}