@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--progress-a {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    @extend .u--width-100;

    &__hd {
        @extend .f--font-j;
        @extend .f--color-j;
        margin-left: auto;
        margin-bottom: $measure;
    }

    &__bd {
        @extend .u--width-100;
        height: $measure * 1.5;
        border-radius: $measure * 3;
        background-color: rgba(map.get($color-options, b), 0.1);
        overflow: hidden;

        &__item {
            @extend .u--display-block;
            @extend .f--background-f;
            @extend .u--height-100;
            width: 0;
            border-radius: $measure * 3;
        }
    }
}