@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--progress-a {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    @extend .u--align-items-center;
    @extend .u--justify-content-space-between;
    @extend .u--width-100;
    @extend .f--background-a;
    gap: $measure;
    margin-top: $measure * 4;
    padding: $measure * 4 $measure * 5 $measure * 5;

    @media screen and ($viewport-type: $tablets) {
        padding: $measure * 4 $measure * 3;
    }

    &__hd {
        @extend .f--font-j;
        @extend .f--color-j;
        margin-left: auto;
    }

    &__bd {
        @extend .u--width-100;
        height: $measure * 1.5;
        border-radius: $measure * 3;
        background-color: rgba(map.get($color-options, b), 0.1);
        overflow: hidden;

        &__item {
            @extend .u--display-block;
            @extend .f--background-f;
            @extend .u--height-100;
            width: 0;
            border-radius: $measure * 3;
            transition: width $time-b $ease-standard-a;
        }
    }
}