@use "@scss/framework/_var/_vars.scss" as *;

@mixin make-gap-a {
    row-gap: $measure * 5;
    @media all and ($viewport-type: $tabletm) {
        row-gap: $measure * 8;
    }
}

@mixin make-gap-b {
    row-gap: $measure * 4;
    @media all and ($viewport-type: $tabletm) {
        row-gap: $measure * 5;
    }
}

@mixin make-gap-c {
    row-gap: $measure * 3;
    @media all and ($viewport-type: $tabletm) {
        row-gap: $measure * 4;
    }
}

@mixin make-gap-d {
    row-gap: $measure * 2;
}

@mixin make-gap-e {
    row-gap: $measure * 8;
}

@mixin make-gap-f {
    row-gap: $measure * 3;
}