@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/framework/components/icon/_c--icon-a" as *;

.c--social-b {
    @extend .u--display-flex;
    @extend .u--flex-direction-column;
    @extend .u--justify-content-center;
    @extend .f--gap-f;
    margin-top: $measure * 7;

    @media all and ($viewport-type: $tabletl) {
        margin-top: 0;
        height: 100%;
    }

    &__title {
        @extend .f--font-h;
        @extend .f--color-a;
        @extend .u--font-light;
    }

    &__bd {
        @extend .u--display-flex;
        gap: $measure * 3;

        &__link {
            @extend .f--background-b;
            border-radius: 100%;
            transition: background $time-b $ease-standard-a, opacity $time-b $ease-standard-a;

            &:hover {
                @extend .f--background-c;
            }
        }

        &__link__artwork {
            @extend .c--icon-a;
            
            &:hover {
                filter: brightness(0) invert(100%);
                background-color: transparent;
            }
        }
    }
}