
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/framework/components/icon/_c--icon-a" as *;


.c--social-a {
    @extend .u--display-flex;
    gap: $measure $measure*3;
    &__item {
        @extend .c--icon-a;
    }
    &--second {
        gap: $measure $measure*.5;
    }
    &--second & {
        gap: $measure $measure*20;
        &__item {
            @extend .c--icon-a--second;
        }
    }
}