@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--slider-b {
    margin-bottom: $measure*4;
    &__wrapper {
        display: block !important;
        opacity: 0;
        &__item {
            &__media {
                @extend .u--display-block;
                height: 250px;
                object-fit: contain;
            }
        } 
    }
    &__controls {
        @extend .u--display-flex;
        @extend .u--align-items-center;
        @extend .u--justify-content-center;
        gap: $measure*4;
        margin-top: $measure*4;
        &__btn {
            @extend .c--btn-a;
            @extend .c--btn-a--second;
        }
    }
}