@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--slider-a {
  overflow: hidden;
  &__wrapper {
    display: flex;
    gap: $measure * 4;
    @media all and ($viewport-type: $tablets) {
      gap: 0;
    }
    &__item {
      display: flex!important;
    }
  }
  &--second {
    .tns-nav {
      margin-top: $measure * 3;
    }

  }
}
