@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.tns-outer {
    padding: 0 !important;
  }
  .tns-outer [hidden] {
    display: none !important;
  }
  .tns-outer [aria-controls],
  .tns-outer [data-action] {
    cursor: pointer;
  }
  .tns-slider {
    transition: all 0s;
  }
  .tns-slider > .tns-item {
    box-sizing: border-box;
  }
  .tns-horizontal.tns-subpixel,
  .tns-horizontal.tns-no-subpixel {
    white-space: nowrap;
  }
  .tns-horizontal.tns-subpixel > .tns-item,
  .tns-horizontal.tns-no-subpixel > .tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
  .tns-horizontal.tns-no-subpixel .tns-item {
    margin-left: 0 !important;
  }
  .tns-no-calc {
    @extend .u--position-relative;
    left: 0;
  }
  .tns-gallery {
    @extend .u--position-relative;
    left: 0;
    min-height: 1px;
  }
  .tns-gallery > .tns-item {
    @extend .u--position-absolute;
    left: -100%;
    transition: transform 0s;
  }
  .tns-gallery > .tns-slide-active {
    @extend .u--position-relative;
    left: auto !important;
  }
  .tns-gallery > .tns-moving {
    transition: all 0.25s;
  }
  .tns-autowidth {
    display: inline-block;
  }
  .tns-lazy-img {
    transition: opacity 0s;
  }
  .tns-lazy-img.tns-complete {
    opacity: 1;
  }
  .tns-ah {
    transition: height 0s;
  }
  .tns-ovh {
    @extend .u--overflow-hidden;
  }
  .tns-visually-hidden {
    @extend .u--position-absolute;
    left: -10000em;
  }
  .tns-transparent {
    opacity: 0;
    visibility: hidden;
  }
  .tns-fadeIn {
    opacity: 1;
    z-index: 0;
    transition: all 0s ease-in-out;
  }
  .tns-normal,
  .tns-fadeOut {
    opacity: 0;
    z-index: -1;
    transition: all 0s ease-in-out;
  }
  .tns-vpfix {
    white-space: nowrap;
  }
  .tns-vpfix > div,
  .tns-vpfix > li {
    display: inline-block;
  }
  .tns-t-subp2 {
    margin: 0 auto;
    width: 310px;
    @extend .u--position-relative;
    height: 10px;
    @extend .u--overflow-hidden;
  }
  .tns-t-ct {
    //width:calc(100% * 70 / 3);
    @extend .u--position-absolute;
    right: 0;
  }
  .tns-t-ct:after {
    content: "";
    display: table;
    clear: both;
  }
  .tns-t-ct > div {
    //width:calc(100% / 70);
    height: 10px;
    float: left;
  }

  .tns-nav {
    @extend .u--display-flex;
    @extend .u--justify-content-center;
    @extend .u--align-items-center;
    gap: $measure * 2;
    margin-top: $measure * 8;

    @media all and ($viewport-type: $tablets) {
      margin-top: $measure * 4;
    }

    button {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: map.get($color-options, i);

      &.tns-nav-active {
        background-color: map.get($color-options, c);
      }
    }
  }

  // Fix for slider-d when disabled on mobile because TinySlider still applies margin-left styles even when disabled
  @media all and ($viewport-type: 810px) {
    .js--slider-d {
      margin-left: 0 !important;
      
      .tns-outer,
      .tns-inner,
      .tns-slider,
      .tns-item {
        margin-left: 0 !important;
      }
    }
  }