.g--layout-01 {
    @include make-layout-01();
    @include make-layout-01-modifier(
        // $layout-options: (
        //     "align": left,
        //     "img-sticky": yes,
        //     "min-height": 700px,
        //     "breakpoint-bigger-columns": 1000px,
        //     "breakpoint-full-width": 800px
        // ),
        // $background-options: (
        //     "background-class": f--background-a,
        //     "background-color": #ffffff,
        //     "background-image": url("../assets/cta/noise.png"),
        //     "background-repeat": no-repeat,
        //     "background-size": cover,
        //     "background-position": left center,
        //     "background-overlay": (
        //         "background-class": f--background-a,
        //         "background-color": #ffffff,
        //         "background-image": linear-gradient(90deg, map-get($color-options, i) 0%, map-get($color-options, h) 100%),
        //         "background-repeat": no-repeat,
        //         "background-size": cover,
        //         "background-position": left center,
        //     ),
        // ),
        // $border-options: (
        //     "border-color": #f3f3f3,
        //     "border-radius": $g-measure*4,
        //     "border-width": 2px,
        //     "border-style": solid,
        // ),
        // $shadow-options: (
        //     "box-shadow": 0 0 16px #9747ffb3 inset,
        // ),
        // $hover-options: (
        //     "background-color": #000000,
        //     "background-image": linear-gradient(90deg, map-get($color-options, h) 0%, map-get($color-options, i) 100%),
        //     "background-position": center center,
        //     "background-size": 100% 50%,
        //     "border-color": #638c1d,
        //     "border-radius": 0,
        //     "border-width": 0,
        //     "box-shadow": 4px 3px 0px 0px #fefefe,
        //     "transform": translateY(-8px),
        //     "background-overlay": (
        //         "background-color": #000000,
        //         "background-image": linear-gradient(90deg, map-get($color-options, h) 0%, map-get($color-options, i) 100%),
        //         "background-position": center center,
        //         "background-size": 100% 50%,
        //         "border-color": #638c1d,
        //         "border-radius": 0,
        //         "box-shadow": 4px 3px 0px 0px #fefefe,
        //         "transform": translateY(-8px),
        //     ),
        // ),
        $item-primary-options: (
            // "color": #638c1d,
            // "font-family": arial,
            // "font-size": 2rem,
            // "font-style": italic,
            // "font-weight": 400,
            // "letter-spacing": 1px,
            // "line-height": 1.5,
            // "max-lines": 3,
            // "text-decoration": underline,
            // "text-decoration-color": #000000,
            // "text-underline-position": under,
            "className": f--font-d f--color-a,
            //"opacity": 1,
        ),
        // $item-primary-hover-options: (
        //     "color": #fefefe,
        //     "text-decoration-color": #fefefe,
        //     "transform": translateY(-8px),
        //     "opacity": 1,
        // ),
        $list-group-item-options: (
            // "color": #638c1d,
            // "font-family": arial,
            // "font-size": 2rem,
            // "font-style": italic,
            // "font-weight": 400,
            // "letter-spacing": 1px,
            // "line-height": 1.5,
            // "max-lines": 3,
            // "text-decoration": underline,
            // "text-decoration-color": #000000,
            // "text-underline-position": under,
            "className": f--font-b f--color-a,
            // "opacity": 1,
        ),
        // $list-group-item-hover-options: (
        //     "background-color": #000000,
        //     "background-image": linear-gradient(90deg, map-get($color-options, h) 0%, map-get($color-options, i) 100%),
        //     "background-position": center center,
        //     "background-size": 100% 50%,
        //     "border-color": #638c1d,
        //     "border-radius": 0,
        //     "border-width": 0,
        //     "box-shadow": 4px 3px 0px 0px #fefefe,
        //     "color": #fefefe,
        //     "fill": #fefefe,
        //     "stroke": #fefefe,
        //     "icon-transform": translateX(8px),
        //     "text-decoration-color": #fefefe,
        //     "transform": translateY(-8px),
        //     "opacity": 1
        // ),
        // $list-group-item-list-options: (
        //     "aligned-at-bottom": "no",
        //     'first': (
        //         "color": #638c1d,
        //         "font-family": arial,
        //         "font-size": 2rem,
        //         "font-style": italic,
        //         "font-weight": 400,
        //         "letter-spacing": 1px,
        //         "line-height": 1.5,
        //         "max-lines": 3,
        //         "text-decoration": underline,
        //         "text-decoration-color": #000000,
        //         "text-underline-position": under,
        //         "className": g--link-01,
        //     "opacity": 1
        //     ),
        //     2: (
        //         "color": #638c1d,
        //         "font-family": arial,
        //         "font-size": 2rem,
        //         "font-style": italic,
        //         "font-weight": 400,
        //         "letter-spacing": 1px,
        //         "line-height": 1.5,
        //         "max-lines": 3,
        //         "text-decoration": underline,
        //         "text-decoration-color": #000000,
        //         "text-underline-position": under,
        //         "className": g--btn-01,
        //     ),
        // ),
        $custom-options: (
            ".g--layout-01__wrapper__content": (
                "width": 100%
            )
        )
    );
}