@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

@use "@scss/global-components/vars.scss" as *;
@use "@scss/global-components/btn/_g--btn-03" as *;

.g--layout-01 {
    @include make-layout-01();
    @include make-layout-01-modifier(
        $layout-options: (
            "align": center,
            "vertical-alignment": center,
        ),
        $background-options: (
            "background-color": map.get($colorbg-options, d),
        ),
        $item-primary-options: (
            "className": f--font-e,
            "color": map.get($color-options, a),
        ),
        $list-group-item-options: (
            "className": f--font-i,
            "color": map.get($color-options, a),
        ),
    );

    &--second {
        @include make-layout-01-modifier(
            $background-options: (
                "background-color": map.get($colorbg-options, c),
            ),
            $item-primary-options: (
                "color": map.get($color-options, a),
            ),
            $list-group-item-options: (
                "className": g--btn-03,
                "color": map.get($color-options, a),
            ),
        );
    }

    &--third {
        @include make-layout-01-modifier(
            $background-options: (
                "background-color": map.get($colorbg-options, b),
            ),
            $item-primary-options: (
                "color": map.get($color-options, b),
            ),
            $list-group-item-options: (
                "className": g--btn-03,
                "color": map.get($color-options, b),
            ),
        );
    }

    &--fourth {
        @include make-layout-01-modifier(
            $background-options: (
                "background-color": map.get($colorbg-options, a),
            ),
            $item-primary-options: (
                "color": map.get($color-options, b),
            ),
            $list-group-item-options: (
                "className": g--btn-03,
                "color": map.get($color-options, b),
            ),
        );
    }
}