$align-items-values:(
  // baseline: baseline,
  // stretch:stretch,
  // flex-start:flex-start,
  flex-end:flex-end,
  center:center
);

$align-items-breakpoints: (
  all: $all,
  // desktop: $desktop,
  // laptop: $laptop,
  // tabletl: $tabletl,
  // tabletm: $tabletm,
  // tablets: $tablets,
  // mobile: $mobile,
);

@mixin align-items-utility($align-prop,$breakpoints){
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @if($breakpoint-value == 0) {
      @each $name, $property in $align-prop {
        .u--align-items-#{$name}{
            align-items:$property;
        }
      }
    }@else{
      @media screen and ($viewport-type: $breakpoint-value) {
        @each $name, $property in $align-prop {
            .u--align-items-#{$breakpoint-name}-#{$name}{
                align-items:$property;
            }
        }
      }
    }
  }
}

@if variable-exists(align-items-breakpoints) {
  @include align-items-utility($align-items-values,$align-items-breakpoints)
}
@else {
  @include align-items-utility($align-items-values,$breakpoints-grid)
}