@use "@scss/framework/_var/_vars.scss" as *;

$height-values:(
  40,
  50,
  100
);

$height-breakpoints: (
  all: $all,
  // tablets: $tablets,
  // tabletm: $tabletm,
  // tabletl: $tabletl,
  // laptop: $laptop,
  // desktop: $desktop,
  // wide: $wide,
);

@mixin height-utility($height-value, $breakpoints){
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @if($breakpoint-value == 0) {
      @each $value in $height-value {
        .u--height-#{$value}{
          height: #{$value}#{"%"};
        }
      }
    }@else{
      @media screen and ($viewport-type: $breakpoint-value) {
        @each $value in $height-value {
          .u--height-#{$breakpoint-name}-#{$value}{
            height: #{$value}#{"%"};
          }
        }
      }
    }
  }
}


  @include height-utility($height-values,$height-breakpoints)

