@use "@scss/framework/_var/_vars.scss" as *;
$opacity-values: (
    6: .6,
);

$opacity-breakpoints: (
   all: $all,
   // tablets: $tablets,
   //   tabletm: $tabletm,
   //   tabletl: $tabletl,
   // laptop: $laptop,
   // desktop: $desktop,
   // wide: $wide,
);

@mixin opacity-utility($opacity-prop, $breakpoints) {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
        @if ($breakpoint-value == 0) {
            @each $name, $property in $opacity-prop {
                .u--opacity-#{$name} {
                    opacity: $property;
                }
            }
        } @else {
            @media screen and ($viewport-type: $breakpoint-value) {
                @each $name, $property in $opacity-prop {
                    .u--opacity-#{$breakpoint-name}-#{$name} {
                        opacity: $property;
                    }
                }
            }
        }
    }
}


@include opacity-utility($opacity-values, $opacity-breakpoints);
 