@use "@scss/framework/_var/_vars.scss" as *;

$order-values: (
    first,
    1,
);

$order-breakpoints: (
    all: $all,
    //   tablets: $tablets,
     tabletm: $tabletm,
   //   tabletl: $tabletl,
   //   laptop: $laptop,
   //   desktop: $desktop,
//   wide: $wide,
);

@mixin order-utility($order-values, $breakpoints) {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
      @each $value in $order-values {
        $order: $value;
        @if $value == first {
          $order: -1;
        }
  
        @if $breakpoint-name == all {
          .u--order-#{$value} {
            @if ($breakpoint-name == all) {
              order: #{$order};
            } @else {
              @media screen and ($viewport-type: #{$breakpoint-value}) {
                order: #{$order};
              }
            }
          }
        } @else {
          .u--order-#{$breakpoint-name}-#{$value} {
            @if ($breakpoint-name == all) {
              order: #{$order};
            } @else {
              @media screen and ($viewport-type: #{$breakpoint-value}) {
                order: #{$order};
              }
            }
          }
        }
      }
    }
  }

@include order-utility($order-values, $order-breakpoints);