@use "@scss/framework/_var/_vars.scss" as *;
$overflow-values:(
  hidden: hidden,
  // clip: clip,
  auto: auto,
);

$overflow-breakpoints: (
  all: $all,
  // tablets: $tablets,
  // tabletm: $tabletm,
  // tabletl: $tabletl,
  // laptop: $laptop,
  // desktop: $desktop,
  // wide: $wide,
);

@mixin overflow-utility($overflow-prop,$breakpoints){
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @if($breakpoint-value == 0) {
      @each $name, $property in $overflow-prop {
        .u--overflow-#{$name}{
          overflow:$property;
        }
      }
    }@else{
      @media screen and ($viewport-type: $breakpoint-value) {
        @each $name, $property in $overflow-prop {
          .u--overflow-#{$breakpoint-name}-#{$name}{
            overflow:$property;
          }
        }
      }
    }
  }
}


  @include overflow-utility($overflow-values,$overflow-breakpoints)
