@use "@scss/framework/_var/_vars.scss" as *;
$text-transform-values: (
  uppercase: uppercase,
);

$text-transform-breakpoints: (
  all: $all,
  // tablets: $tablets,
  // tabletm: $tabletm,
  // tabletl: $tabletl,
  // laptop: $laptop,
  // desktop: $desktop,
  // wide: $wide,
);
  
  @mixin text-transform-utility($text-transform-prop, $breakpoints) {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
      @if ($breakpoint-value == 0) {
        @each $name, $property in $text-transform-prop {
          .u--text-#{$name} {
            text-transform: $property;
          }
        }
      } @else {
        @media screen and ($viewport-type: $breakpoint-value) {
          @each $name, $property in $text-transform-prop {
            .u--text-#{$breakpoint-name}-#{$name} {
              text-transform: $property;
            }
          }
        }
      }
    }
  }
  

  @include text-transform-utility($text-transform-values, $text-transform-breakpoints);

