@use "@scss/framework/_var/_vars.scss" as *;
$text-align-values: (
  left: left,
  center: center,
  // right:right,
  // justify:justify,
);

$text-align-breakpoints: (
  all: $all,
  // tablets: $tablets,
  // tabletm: $tabletm,
  // tabletl: $tabletl,
  // laptop: $laptop,
  // desktop: $desktop,
  // wide: $wide,
);

@mixin text-align-utility($text-prop, $breakpoints) {
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @if ($breakpoint-value == 0) {
      @each $name, $property in $text-prop {
        .u--text-#{$name} {
          text-align: $property;
        }
      }
    } @else {
      @media screen and ($viewport-type: $breakpoint-value) {
        @each $name, $property in $text-prop {
          .u--text-#{$breakpoint-name}-#{$name} {
            text-align: $property;
          }
        }
      }
    }
  }
}


  @include text-align-utility($text-align-values, $text-align-breakpoints);
