.c--zoom-section-a {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 24px*2); // * when the image is zoomed it's without border-radius, the border-radius is 24px
    @extend .u--height-100;;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__media-wrapper {
        margin: 0 auto;
        padding-right: 1em;
        padding-left: 1em;
        width: 100%;
        @extend .u--height-100;
        min-width: 100vw;
        min-height: 100vh;
        clip-path: circle(20% at 50% 50%);
        &__media {
          @extend .u--display-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            @extend .u--height-100;;
            object-fit: cover;
        }
    }
}