//falta 2 cta
.c--content-a {
    @include make-content ();
    //* default: black text Paragraph small (font-i)
    @include make-content-modifier (
      $headings-options: (
        "h2": (
          "className": f--font-e,
          "margin-bottom": $measure*4,
          "padding-top": $measure*4,
        ),
        "h3": (
          "className": f--font-f,
          "margin-bottom": $measure*3,
          "padding-top": $measure*3,
        ),
        "h4": (
          "className": f--font-g,
          "margin-bottom": $measure*3,
          "padding-top": $measure,
        ),
        "h5": (
          "className": f--font-i u--font-medium u--text-uppercase u--letter-spacing-a f--color-c,
          "margin-bottom": $measure*3,
          "padding-top": $measure,
        ),
        "h6": (
          "className": f--font-i u--font-medium u--text-uppercase u--letter-spacing-a,
          "margin-bottom": $measure*2,
          "padding-top": $measure,
        ),
      ),
      $image-options: (
        "margin-bottom": $measure*3,
        "caption": (
          "className": f--font-i,
          "padding-top": $measure*2,
          "text-align": right,
        ),
      ),
      $link-options: (
        "className": c--link-a,
      ),
      $lists-options: (
        "number-font": (
          "className": f--font-i,
        ),
        "first-number-width": 10px,
        "first-level-number-color": map-get($color-options, b),
        "first-level-artwork-width": 6px,
        "first-level-artwork-top": 6px,
        "first-level-artwork-background": map-get($color-options, c),
        "first-level-artwork-border-radius": 100%,
        "margin-bottom": $measure*4,
        "font-styles": (
          "className": f--font-i,
          "margin-bottom": $measure,
        ),
      ),
      $paragraphs-options: (
        "className": f--font-i,
        "margin-bottom": $measure * 3,
        "bold-font-weight": 600,
      ),
      $quote-options: (
        "padding": $measure*3 0,
        "margin-top": $measure,
        "margin-bottom": $measure*4,
        "border": (
          "border-color": rgba(map-get($color-options, b), .6),
          "border-style": solid,
          "border-width": 1px 0,
        ),
        "paragraph": (
          "className": f--font-g u--font-light,
        ),
        "cite": (
          "font-style": normal,
          "className": f--font-h,
          "padding-top": $measure*3,
        ),
      ),
      $footnote-options: (
        "className": f--font-j,
        "margin-bottom": $measure * 2,
      ),
      $highlighted-options: (
        "className": f--font-h,
        "margin-bottom": $measure * 4,
      ),
      $btn-options: (
        "className": g--btn-01,
        "margin-bottom": $measure*4,
      ),
      $columns-options: (
        "breakpoint": $tablets,
        "margin-bottom": $measure*4,
      ),
      $separator-options: (
        "margin": $measure*4 auto,
        "color": rgba(map-get($color-options, b), .6),
        "height": 1px,
      ),
      $table-options: (
        "header-font-styles": (
          "className": f--font-i u--font-semibold f--color-a,
        ),
        "body-font-styles": (
          "className": f--font-i,
        ),
        "caption": (
          "className": f--font-i,
          "padding-top": $measure*2,
          "text-align": right,
        ),
        "margin-bottom": $measure*4,
        "header-cells-padding": $measure*2,
        "body-cells-padding": $measure $measure * 2,
        "header-background": map-get($color-options, k),
        "body-background": map-get($color-options, m),
        "odd-rows-background": map-get($color-options, a),
      ),
      $video-options: (
        "margin-bottom": $measure*3,
      ),
      $utilities-options: (
        "media-text-aligned-margin-x": $measure*5
      )
      
    );

    .wp-block-video {
      margin-bottom: $measure*3;
      @extend .u--width-100;
      video {
        @extend .u--width-100;
      }
    }

    .g--card-07 {
      margin-bottom: $measure*4;
    }

    @media all and ($viewport-type:$tablets) {
      @include make-content-modifier (
        $headings-options: (
          "h2": (
            "margin-bottom": $measure*3,
            "padding-top": $measure*3,
          ),
        ),
      );

    }

    @media all and ($viewport-type:$mobile) {
      @include make-content-modifier (
        $custom-options: (
          ".wp-block-table": (
            "overflow-x": scroll
          ),
          ".wp-block-table > table": (
            "width": max-content,
            "max-width": 200vw
          ),
          ".wp-block-table table td": (
            "max-width": 95vw
          )
        ),
      );

    }

    //* second: white text
    &--second-color {
        @include make-content-modifier (
          $headings-options: (
            "h2": (
              "className": f--color-a,
            ),
            "h3": (
                "className": f--color-a,
            ),
            "h4": (
                "className": f--color-a,
            ),
            "h6": (
                "className": f--color-a,
            ),
          ),
          $image-options: (
            "caption": (
                "className": f--color-a,
            ),
          ),
          $link-options: (
            "className": c--link-a c--link-a--second,
          ),
          $lists-options: (
            "number-font": (
                "className": f--color-a,
            ),
            "first-level-number-color": map-get($color-options, a),
            "font-styles": (
                "className": f--color-a,
            ),
          ),
          $paragraphs-options: (
            "className": f--color-a,
          ),
          $quote-options: (
            "border": (
              "border-color": map-get($color-options, i),
            ),
            "paragraph": (
                "className": f--color-a,
            ),
            "cite": (
                "className": f--color-a,
            ),
          ),
          $footnote-options: (
            "className": f--color-a,
          ),
          $highlighted-options: (
            "className": f--color-a,
          ),
          $separator-options: (
            "color": map-get($color-options, m),
          ),
          $table-options: (
            "odd-rows-background": map-get($color-options, m),
          ),
        );
    }

    //* Paragraph medium (font-h)
    &--second-text {
        > p,
        ul:not([class]) li,
        ol:not([class]) li,
        ol:not([class]) > li::before {
           @include make-font-h(300);
        }
    }

    //* Paragraph large (font-g)
    &--third-text {
         > p,
         ul:not([class]) li,
         ol:not([class]) li,
         ol:not([class]) > li::before {
            @include make-font-g(300);
         }
    }
}