// container
@mixin make-container () {
    margin: 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
    width: 100%;
    max-width: $g-container-width;
}

@mixin make-container-fluid () {
    padding: 0;
    max-width: 100%;

    & > [class*="f--row"] {
        margin-right: 0;
        margin-left: 0;
  
        & > [class^="f--col"],
        & > [class*="f--col-"] {
          padding-right: 0;
          padding-left: 0;
        }
      }
}