@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/global-components/btn/_g--btn-01" as *;
@use "@scss/global-components/link/_g--link-01" as *;
@use "@scss/framework/components/media/_c--media-d" as *;
.c--heading-b {
    @extend .f--row ;
    @extend .u--justify-content-space-between ;
    @extend .u--align-items-center ;
    @extend .f--sp-b ;
    @extend .f--gap-c ;
    @extend .g--link-01;

    &__wrapper {
        @extend .f--col-6 ;
        @extend .f--col-tabletl-8 ;
        @extend .f--col-tablets-12 ;
        @extend .f--order-tablets-2;

        &__title {
            @extend .f--font-e ;
            @extend .u--mb-2;
        }

        &__subtitle {
            @extend .f--font-i;
        }

        &__btn {
            @extend .g--btn-01;
            @extend .u--mt-3;

            @media all and (pointer: fine) {
                display: none !important;
            }
        }

    }

    &__media-wrapper {
        @extend .f--col-2;
        @extend .f--col-tabletl-3 ;
        @extend .f--col-tablets-8 ;
        @extend .f--order-tablets-1;

        &__media {
            @extend .c--media-d;
        }
    }
}