@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--wrapper-b {
    @extend .u--width-100;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $measure * 4;

    @media all and ($viewport-type: $laptop) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media all and ($viewport-type: $tabletl) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media all and ($viewport-type: $tabletm) {
        grid-template-columns: repeat(2, 1fr);
    }

   

    &--second {
        column-gap: $measure * 4;
        row-gap: $measure * 7;

        @media all and ($viewport-type: $tabletm) {
            row-gap: $measure * 4;
        }
    }

    &--third {
        grid-template-columns: repeat(2, 1fr);
        column-gap: $measure * 3;
        row-gap: $measure * 3;
        @media all and ($viewport-type:$tabletl) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media all and ($viewport-type:$tabletm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media all and ($viewport-type: $tablets) {
            grid-template-columns: 1fr;
        }
    }
}