@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@terrahq/gc/library" as *;
@use "@scss/global-components/vars.scss" as *;
.g--404-01 {
    @include make-404-01();
    @include make-404-01-modifier(
        $error-404-options: (
            "align": center,
            "top-extra-space": $measure*9,
            "breakpoint-full-width": 580px,
        ),
        $background-options: (
            "background-class": f--background-a,
        ),

        $item-primary-options: (
            "className": f--font-c f--color-b,
        ),
        $item-secondary-options: (
            "className": f--font-g f--color-b u--font-light,
        ),
        $custom-options: (
            "parent": (
                "position": relative,
                "padding-bottom": 30vw,
            ),
            ".g--404-01__wrapper": (
                "z-index": 2,
            ),
            ".g--404-01__wrapper__content": (
                "padding-bottom": 0,
            ),
            ".g--404-01__media-wrapper": (
                "position": absolute,
                "bottom": $measure*2,
                "z-index": 0,
                "pointer-events": none,
            ),
        )

    );
    &__wrapper__content {
        padding-bottom: $measure*2!important;
        @media all and ($viewport-type:$tablets) {
            padding-bottom: $measure*4!important;
        }
    }
}