@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--curve-a {
    @extend .u--position-relative;
    overflow-x: clip;
    &::before {
        content: '';
        @extend .u--position-absolute;
        background: inherit;
        width: calc(100% + 4px);
        height: calc(44px * 2);
        top: -44px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        clip-path: circle(650vw at 50% 650vw);
        @media all and ($viewport-type: $tabletm) {
            top: -32px;
            height: calc(32px * 2);
        }
    }
    & > * {
        @extend .u--position-relative;
        z-index: 1;
    }
}