@use "@scss/framework/foundation/grid/make-container" as *;
@use "@scss/framework/_var/_vars.scss" as *;


// container
// container fluid
// container fluid responsive
.f--container {
  @include make-container();
  @media all and ($viewport-type: 2000px){
    max-width: 95%;
  }
  &--fluid {
    @include make-container-fluid();
  }

  &--tablets-fluid {
    @media all and ($viewport-type: $tablets) {
      @include make-container-fluid();
    }
  }
  &--mobile-fluid {
    @media all and ($viewport-type: $mobile) {
      @include make-container-fluid();
    }
  }
}