@use "@scss/framework/foundation/grid/make-container" as *;
@use "@scss/framework/_var/_vars.scss" as *;

.f--container {
    @include make-container();
    max-width: 95%;

    &--fluid {
        @include make-container-fluid();
    }

    &--tabletm-fluid {
        @include make-container-fluid();
        @media all and ($viewport-type: $tabletm) {
          @include make-container();
          max-width: 95%;
        }
    }

    &--tablets-fluid {
        @include make-container-fluid();
        @media all and ($viewport-type: $tablets) {
          @include make-container();
          max-width: 95%;
        }
    }
}