@use "@scss/framework/foundation/grid/make-container" as *;
@use "@scss/framework/_var/_vars.scss" as *;

.f--container {
    @include make-container();

    &--tabletm-fluid {
        @include make-container-fluid();
        @media all and ($viewport-type: $tabletm) {
          @include make-container();
          max-width: 95%;
        }
    }
}

.f--container-fluid {
  @include make-container-fluid();
  @media all and ($viewport-type: $wide) {
    @include make-container();
  }
  // * container fluid for only small screens
  @each $name, $value in $f-container-contained-breakpoints {
    &--#{$name}-contained {
      @media all and ($viewport-type: $value) {
        @include make-container();
      }
    }
  }
}