@use "sass:meta";
@use "@scss/framework/_var/_vars.scss" as *;

// container
@mixin make-container () {
    margin: 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
    width: 100%;
    max-width: $f-container-width-mobile;
    @media all and ($viewport-type: 2000px){
      max-width: $f-container-width;
    }
}

@mixin make-container-fluid () {
    margin: 0 auto;
    padding: 0;
    @if meta.variable-exists(f-container-fluid-max-width) {
      max-width: $f-container-fluid-max-width;
    } @else {
      max-width: 100%;
    }

    & > [class*="f--row"] {
        margin-right: 0;
        margin-left: 0;
  
        & > [class^="f--col"],
        & > [class*="f--col-"] {
          padding-right: 0;
          padding-left: 0;
        }
      }
}