@use "@scss/framework/_var/_vars.scss" as *;

/* build columns */
@mixin make-col($i) {
    $value: calc(100% / $columns)*$i;
    flex: 0 0 $value;
    max-width: $value;
    min-height: 1px;
    transition: $time-a;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
}

/* Start Responsive Offset */
@mixin make-offset($i) {
    $value: calc(100% / $columns)*$i;
    margin-left: $value;
    transition: $time-a; 
}

/* Start Responsive Order */
@mixin make-order($i) {
    order: $i;
}