@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--media-d {
    @extend .u--ar;
    @media all and ($viewport-type:$tablets) {
        max-width: 60%;
    }
}