.c--media-b {
    @extend .u--align-items-center;
    @extend .u--justify-content-center;
    @extend .u--display-flex;
    flex-wrap: wrap;
    row-gap: $measure*8;
    column-gap: $measure*12;

    @media all and ($viewport-type:$tabletl) {
        row-gap: $measure*6;
        column-gap: $measure*8;
    }
    @media all and ($viewport-type:$tablets) {
        row-gap: $measure*6;
        column-gap: $measure*4;
    }

    &__item {
        width: calc((100% / 5) - ((#{$measure*12}*4) / 5));
        @media all and ($viewport-type:$tabletl) {
            width: calc((100% / 5) - ((#{$measure*8}*4) / 5));
        }
        @media all and ($viewport-type:$tabletm) {
            width: calc((100% / 4) - ((#{$measure*8}*3) / 4));
        }
        @media all and ($viewport-type:$tablets) {
            width: calc((100% / 4) - ((#{$measure*4}*3) / 4));
        }
        @media all and ($viewport-type:$mobile) {
            width: calc((100% / 2) - ((#{$measure*4}*1) / 2));
        }
        &__link {
            @extend .u--display-block;
            place-content: center;
            text-decoration: none;
            padding: $measure 0;
            &__media {
                @extend .u--display-block;
                @extend .u--width-100;
                @extend .u--height-100;
                object-fit: contain;
                transition: transform $time-b $ease-standard-a;
            }
        }
        @media (hover: hover) {
            &:hover & {
                &__link {
                    &__media {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    
    &--second & {
        &__item {
            width: calc((100% / 5) - ((#{$measure*11}*4) / 5));
            @media all and ($viewport-type:$tabletl) {
                width: calc((100% / 5) - ((#{$measure*7}*4) / 5));
            }
            @media all and ($viewport-type:$tabletm) {
                width: calc((100% / 4) - ((#{$measure*7}*3) / 4));
            }
            @media all and ($viewport-type:$tablets) {
                width: calc((100% / 4) - ((#{$measure*3}*3) / 4));
            }
            @media all and ($viewport-type:$mobile) {
                width: calc((100% / 2) - ((#{$measure*4}*1) / 2));
            }
        }
    }
}