@use "@scss/framework/_var/_vars.scss" as *;
@use "@terrahq/gc/variables" with (
  //* GLOBAL VARIABLES
  $g-viewport-type: $viewport-type, //* It's used fo, max-width (desktop first) or min-with (mobile first)
  $g-measure: $measure, //* Measurement on which the spaces are based. All spaces are multiples of this number
  $g-container-class: f--container, //* The class used for the container
  $g-row-class: f--row, //* The class used for the row
  $g-row-remove-gutter-class: f--row--remove-gutter, //* The class used for the row without gutter. If that class doesn't exist, you can use the same one as for a normal row
  $g-transition-duration: 0.3s, //* The duration of all hover transitions
  $g-transition-timing-function: cubic-bezier(
    0.2,
    0,
    0.38,
    0.9
  ), //* The function of all hover transitions (linear, ease, ease-in-ot...)

  //* btn
  $btn-padding: $measure $measure * 3, //* The padding for buttons that have space around them
  $btn-icon-gap: $measure, //* The space between icon and text in buttons with icon
  $btn-full-width-breakpoint: $tablets, //* The breakpoint at which we want buttons with padding should either expand to 100% width of the parent or stop being 100% width. If you never want them to be 100% width, you can omit this variable.

  //* pill
  $pill-padding: $measure $measure * 2, //* The padding for pills that have space around them

  //* icon
  $icon-padding: $measure * 1.5, //* The padding for icons that have space around them

  //* social
  $social-gap: $measure * 2, //* The space between icons in social component

  //* form fields
  $form-margin-bottom: $measure * 3, //* The margin-bottom for form fields
  $input-padding: $measure * 2, //* The padding for form fields (input, textarea, select...) that have space around them
  $file-btn-padding: $measure * 0.5 $measure * 3, //* The padding for the button of input type file

  //* card
  $card-spaces-breakpoint: $tabletm, //* The breakpoint at which the spacing changes for all cards
  $card-item-list-gap: $measure, //* The space between all possible lists in cards. Possible lists refer to the last text element of all cards containing more than one text element. This value could be a single number (indicating equal space in both X and Y directions) or two numbers, for example, $measure $measure*2 (Y X)
  $card-media-text-space: $measure * 4, //* The spacing between text and media items (videos, images, etc.) in all cards
  $card-media-text-space-responsive: $measure, //* The spacing between text and media items in all cards from the breakpoint specified in $card-spaces-breakpoint onward

  //* CTA
  $cta-item-list-gap: $measure $measure * 2, //* The space between all possible lists in CTAs. Possible lists refer to the last text element of all CTAs containing more than one text element. This value could be a single number (indicating equal space in both X and Y directions) or two numbers, for example, $measure $measure*2 (Y X)
  $cta-outside-container-col-class: (f--col-9 f--col-wide-8),
  $cta-spaces-breakpoint: $tabletm, //* The breakpoint at which the spacing changes for all CTAs when the 'container' is set to 'no'
  $cta-inside-container-padding: $measure * 15 $measure * 10, //* The padding for the CTAs when the 'container' is set to 'no'. This variable can be a single number, a list of numbers, a class, or a list of classes
  $cta-inside-container-padding-responsive: $measure * 10 $measure * 7, //* The padding for the CTAs when the 'container' is set to 'no' from the breakpoint specified in $cta-spaces-breakpoint onward
  $cta-outside-container-padding-y: $measure * 20, //* The top and bottom padding for the CTAs when the 'container' is set to 'yes'. This must be a single number
  $cta-outside-container-padding-y-responsive: $measure * 10, //* The top and bottom padding for the CTAs when the 'container' is set to 'yes' from the breakpoint specified in $cta-spaces-breakpoint onward

  //* layout
  $layout-one-col-width-class: (f--col-8 f--col-tabletl-10 f--col-tablets-12),
  $layout-two-col-media-width-class: (f--col-5 f--col-tabletm-12),
  $layout-two-col-content-width-class: (
    f--col-5 f--offset-1 f--col-tabletl-6 f--col-tabletm-12 f--offset-tabletm-0
  ),
  $layout-two-col-only-content-first-width-class: (
    f--col-5 f--col-tabletl-6 f--col-tabletm-12
  ),
  $layout-two-col-only-content-last-width-class: (
    f--col-6 f--offset-0 f--col-tabletm-12 f--offset-tabletl-0
  ),
  $layout-spaces-breakpoint: $tabletm, //* The breakpoint at which the spacing changes for all layouts
  $layout-item-list-gap: $measure $measure * 2, //* The space between all possible lists in layouts. Possible lists refer to the last text element of all layouts containing more than one text element. This value could be a single number (indicating equal space in both X and Y directions) or two numbers, for example, $measure $measure*2 (Y X)

  //* hero
  $hero-spaces-breakpoint: $tabletm, //* The breakpoint at which the spacing changes for all heroes
  $hero-item-list-gap: $measure $measure * 2, //* The space between all possible lists in heroes. Possible lists refer to the last text element of all heroes containing more than one text element. This value could be a single number (indicating equal space in both X and Y directions) or two numbers, for example, $measure $measure*2 (Y X)
  $hero-two-col-only-content-first-width-class: (
    f--col-7 f--col-tabletl-6 f--col-tabletm-12
  ),
  $hero-two-col-only-content-last-width-class: (
    f--col-4 f--offset-1 f--col-tabletl-6 f--col-tabletm-12 f--offset-tabletl-0
  ),
  $hero-content-form-width-class: (f--col-6 f--col-tabletm-12),

  //* message
  $message-spaces-breakpoint: $tabletm, //* The breakpoint at which the spacing changes for all messages

  //* modal
  $modal-spaces-breakpoint: $tabletm, //* The breakpoint at which the spacing changes for all modals

  //* accordion
  $accordion-padding: $measure * 4 $measure * 2 $measure * 3, //* The padding for accordion button

  //* tabs
  $tabs-breakpoint: $tabletm, //* The breakpoint at which the tabs change from tabs to selector (desktop first) or from selector to tabs (mobile first)

  //* 404
  $error-404-spaces-breakpoint: $tabletm, //* The breakpoint at which the spacing changes for all 404
  $error-404-item-list-gap: $measure $measure * 2, //* The space between all possible lists in 404. Possible lists refer to the last text element of all heroes containing more than one text element. This value could be a single number (indicating equal space in both X and Y directions) or two numbers, for example, $g-measure $g-measure*2 (Y X)
);
@forward "@terrahq/gc/library";