@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

@use "@scss/global-components/vars.scss" as *;

.g--link-01 {
    @include make-link-01();
    @include make-link-01-modifier(
        $hover-options: (
            "color": map.get($color-options, c),
        ),
        $font-options: (
            "color": map.get($color-options, b),
        ),
    );
    &--second {
        @include make-link-01-modifier(
            $hover-options: (
                "color": map.get($color-options, b),
                "text-decoration-color": map.get($color-options, b),
            ),
            $font-options: (
                "text-decoration": underline,
                "text-decoration-color": transparent,
            ),
        );
    }
    &--third {
        @include make-link-01-modifier(
            $hover-options: (
                "color": map.get($color-options, c),
                "text-decoration-color": transparent,
            ),
            $font-options: (
                "color": map.get($color-options, a),
                "text-decoration": underline,
                "text-decoration-color": map.get($color-options, a),
            ),
        );
    }
    &--fourth {
        @include make-link-01-modifier(
            $hover-options: (
                "color": map.get($color-options, b),
                "text-decoration-color": map.get($color-options, b),
            ),
            $font-options: (
                "color": map.get($color-options, c),
                "text-decoration": underline,
                "text-decoration-color": transparent,
            ),
        );
    }
    &--fifth {
        @include make-link-01-modifier(
            $hover-options: (
                "text-decoration-color": map.get($color-options, c),
            ),
            $font-options: (
                "color": map.get($color-options, c),
                "text-decoration": underline,
                "text-decoration-color": transparent,
            ),
        );
    }
    &--sixth {
        @include make-link-01-modifier(
            $hover-options: (
                "color": map.get($color-options, a),
                "text-decoration-color": transparent,
            ),
            $font-options: (
                "color": map.get($color-options, a),
                "text-decoration": underline,
                "text-decoration-color": map.get($color-options, a),
            ),
        );
    }
    &--seventh {
        @include make-link-01-modifier(
            $font-options: (
                "color": map.get($color-options, a),
            ),
        );
    }
    &--eighth {
        @include make-link-01-modifier(
            $hover-options: (
                "color": map.get($color-options, a),
                "text-decoration-color": map.get($color-options, a),
            ),
            $font-options: (
                "color": map.get($color-options, a),
                "text-decoration": underline,
                "text-decoration-color": transparent,
            ),
        );
    }
}