@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
.c--accordion-b {
    @extend .u--width-100;
    @extend .u--display-flex;
    flex-direction: column;
    padding-top: $measure*8;

    &__hd {
        @extend .u--width-100;
        @extend .u--display-flex;
        justify-content: space-between;
        padding-bottom: $measure * 3;
        border-bottom: 1px solid rgba(20, 16, 24, 0.4);
        cursor: pointer;
        &__title {
            @extend .f--font-e;
            transition: all $time-b $ease-standard-a;
        }

        &:hover &{
            &__btn {
                background: map.get($color-options, c);
                &__icon{
                        & path{
                            stroke:map.get($color-options, a);
                        }
                }
            }

            &__title {

                @extend .f--color-c;
            }
        }

        

        &__btn {
            display: flex;
            width: 26px;
            height: 26px;
            margin-top: $measure * 0.5;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid map.get($color-options, c);
            border-radius: 50%;
            transition: all $time-b $ease-standard-a;

            &__icon {
                transition: all $time-b $ease-standard-a;
                display: none;

                &--second {
                    display: block;
                }
            }
        }
    }

    &__bd {
        display: grid;
        grid-template-columns: repeat(4, 1fr); // 4 items per row
        //gap: $measure * 3;
        transform: scaleY(0);
        transform-origin: top;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.5s ease;

        @media all and ($viewport-type: $tabletm) {
            grid-template-columns: repeat(3, 1fr); // 3 items per row
        }
        @media all and ($viewport-type: $mobile) {
            grid-template-columns: repeat(2, 1fr); // 2 items per row
        }
        &__item {
            margin-top: 56px;
        }
    }

    &--is-active & {
        &__bd {
            transform: scaleY(1); 
            height: auto;
            opacity: 1;
        }
        &__hd {
            &__btn {
                &__icon {
                    display: block;
                    &--second {
                        display: none;
                    }
                }
            }
        }
    }
}
