.c--accordion-a {
    @extend .u--width-100;
    @extend .u--display-flex;
    @extend .u--justify-content-flex-end;
    max-width: 100%;
    @media all and ($viewport-type: $tablets) {
        flex-direction: column;
    }
    &__item {
        @extend .u--display-flex;
        @extend .u--position-relative;
        border-left: 2px solid map-get($color-options, a);
        @media all and ($viewport-type: $tablets) {
            width: 100%;
            flex-direction: column;
            border-left: none;
            border-top: 2px solid map-get($color-options, a);
        }
        &__btn {
            @extend .u--position-absolute;
            @extend .u--width-100;
            @extend .u--height-100;
            cursor: pointer;
            opacity: 0;
            z-index: 1;
            &:checked {
                pointer-events: none;
                & ~ .c--accordion-a__item {
                    &__hd {
                        background-color: map-get($color-options, d);
                        border-right: 2px solid rgba(map-get($color-options, a), .2);
                        @media all and ($viewport-type: $tablets) {
                            border-right: none;
                            border-bottom: 2px solid rgba(map-get($color-options, a), .2);
                        }
                        .c--accordion-a__item__hd__content {
                            color: map-get($color-options, m);
                            &::before,
                            &::after {
                                opacity: 0;
                            }
                        }
                    }
                    &__wrapper {
                        max-width: 100vw;
                        height: auto;
                        @media all and ($viewport-type: $tablets) {
                            max-width: 100%;
                            max-height: none;
                        }
                    }
                }
            }

            @media (hover: hover) {
                &:hover ~ .c--accordion-a__item {
                    &__hd {
                        background-color: map-get($color-options, a);
                    }
                }
            }
        }
        &__hd {
            @extend .u--position-relative;
            @extend .f--background-b;
            @extend .u--overflow-hidden;
            @extend .u--width-100;
            @extend .u--display-flex;
            align-items: normal;
            max-width: 74px;
            z-index: 0;
            transition: background-color $time-b $ease-standard-a;
            @media all and ($viewport-type: $tablets) {
                max-width: none;
                width: 100%;
                max-height: 53px;
            }
            &__content {
                $icon-width: 12px;
                $icon-line-width: 2px;

                @extend .f--font-h;
                @extend .f--color-c;
                @extend .u--text-left;
                @extend .u--position-relative;
                @extend .u--display-block;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                padding: $measure*7 $measure*3 calc(#{$icon-width} + #{$measure*2} + #{$measure*7});
                @media all and ($viewport-type: $tablets) {
                    writing-mode: initial;
                    transform: rotate(0deg);
                    height: auto;
                    width: 100%;
                    padding: $measure*2 calc(#{$icon-width} + #{$measure*2} + #{$measure*3}) $measure*2 $measure*3;
                }
                &::before,
                &::after {
                    content: '';
                    @extend .u--position-absolute;
                    background-color: map-get($color-options, c);
                    left: 50%;
                    transform: translateX(-50%);
                    @media all and ($viewport-type: $tablets) {
                        left: auto;
                        bottom: auto;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &::before {
                    width: $icon-width;
                    height: $icon-line-width;
                    bottom: calc(#{$icon-width*0.5} - #{$icon-line-width*0.5} + #{$measure*7});
                    @media all and ($viewport-type: $tablets) {
                        right: $measure*3;
                    }
                }
                &::after {
                    height: $icon-width;
                    width: $icon-line-width;
                    bottom: $measure*7;
                    @media all and ($viewport-type: $tablets) {
                        right: calc(#{$icon-width/2} - #{$icon-line-width/2} + #{$measure*3});
                    }
                }
            }
        }
        &__wrapper {
            @extend .u--overflow-hidden;
            @extend .u--width-100;
            @extend .u--position-relative;
            left: 0;
            background-color: map-get($color-options, d);
            max-width: 0px;
            transition: max-width $time-b linear;
            z-index: 1;
            @media all and ($viewport-type: $tablets) {
                max-height: 0;
                max-width: 100%;
                width: 100%;
                transition: max-height $time-b linear;
            }
            &__content {
                height: 0;
                @extend .u--display-flex;
                @media all and ($viewport-type: $tablets) {
                    height: auto;
                }
            }
        }
    }
}