.c--overlay-b {
    @extend .u--position-fixed;
    @extend .u--width-100;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left:0;
    z-index: 4;
    opacity: 0;

    &--is-visible{
    }
}