.c--header-a {
    @extend .u--position-fixed;
    @extend .f--container;
    top: $measure*4;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    opacity: 0;

    @media all and ($viewport-type: $tablets) {
        top: 0;
        max-width: 100%;
        background-color: map-get($color-options, a);
    }

    &__wrapper {
        @extend .f--background-a;
        @extend .u--display-flex;
        @extend .u--justify-content-space-between;
        @extend .u--position-relative;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + #{$measure*4}*2);
        padding: $measure*2 $measure*4;
        @media all and ($viewport-type: $tabletl) {
            width: calc(100% + #{$measure*2}*2);
            padding: $measure*2;
        }
        @media all and ($viewport-type: $tablets) {
            width: 100%;
            padding: $measure*2 2.5vw;
        }
        
        &__hd{
            @extend .u--display-flex;
            align-items: center;
            &__link{
                margin-right: $measure*8;
                align-self: center;
                &__media{
                    display: block;
                }
            }
        }
        &__bd{
            @extend .u--display-flex;
            flex-grow: revert;
            flex-shrink: revert;
            align-items: center;
            &__link{
                margin-right: $measure*8;
                align-self: center;
                &__media{
                    display: block;
                }
            }
        }
    }
}