.c--header-wrapper-a {
    @extend .u--position-fixed;
    @extend .u--width-100;
    top: $measure*4;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    opacity: 0;

    @media all and ($viewport-type: $tablets) {
        top: 0;
        max-width: 100%;
    }
}