@use "sass:map";
@use "@scss/paths.scss" as paths;
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use  "@scss/global-components/link/_g--link-01" as *;

.c--search-a {
    @extend .f--background-a;
    @extend .u--position-absolute;
    @extend .u--overflow-hidden;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: -1;
    
    top: 0;
    padding: calc(#{$measure*4} + 64px) calc(2.5vw + #{$measure*2}) $measure*4;

    @media all and ($viewport-type: $tabletm) {
        top: -$measure*4;
        padding: calc(#{$measure*8} + #{$measure*4} + 64px) calc(2.5vw + #{$measure*2}) $measure*8;
    }

    &__media-wrapper {
        @extend .u--position-absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 0;

        &::before {
            content: none;
            @extend .u--position-absolute;
            background-image: url(paths.asset-url("/assets/img/swirl.png"));
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right bottom;
            width: 33.33%;
            height: 100%;
            right: -$measure*4;
            bottom: -$measure*16;

            @media all and ($viewport-type: $tablets) {
                content: '';
            }
        }
    }

    &__hd {
        @extend .u--position-relative;
        @extend .f--sp-b;
        z-index: 1;
        width: 100%;

        @media all and ($viewport-type: $tablets) {
            width: 66.666%;
        }
    }

    &__bd {
        @extend .f--font-i;
        @extend .f--color-c;
        @extend .u--font-semibold;
        @extend .u--position-relative;
        z-index: 1;
        width: 100%;
        margin-bottom: $measure*3;

        @media all and ($viewport-type: $tablets) {
            width: 66.666%;
        }
    }

    &__ft {
        @extend .u--display-flex;
        @extend .u--position-relative;
        z-index: 1;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        max-height: calc(100vh - #{$measure*4} - 64px - #{$measure*4} - 61px - #{$measure*5} - 22px - #{$measure*3});

        @media all and ($viewport-type: $tabletm) {
            width: 66.666%;
            max-height: calc(100vh - #{$measure*8} - #{$measure*4} - 64px - #{$measure*12} - 61px - #{$measure*5} - 22px - #{$measure*3});
        }

        &__item {
            @extend .u--display-block;
            @extend .g--link-01;
            &:not(:last-child) {
                margin-bottom: $measure*2;
                padding-bottom: $measure*2;
                border-bottom: 1px solid rgba(map.get($color-options, b), .6);
            }
        }

        & .scroll-content{
            padding-right: $measure*6;
        }

        & .scrollbar-track-y{
            background: map.get($color-options, m);
            border-radius:4px;
        }
        
        & .scrollbar-thumb-y{
            opacity:1;
            background-color: map.get($color-options, c);
        }
    }
}