.c--overlay-b {
    @extend .u--position-fixed;
    
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    z-index: 4;
    opacity: 0;

    &--is-visible{
    }
}