@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--header-a {
    @extend .f--container;
    @extend .f--container--tabletm-fluid;
    @extend .u--position-relative;
    z-index: 5;
    background-color: map.get($color-options, a);

    @media all and ($viewport-type: $tabletm) {
        background-color: transparent;
    }

    &__wrapper {
        @extend .f--background-a;
        @extend .u--display-flex;
        @extend .u--justify-content-space-between;
        @extend .u--position-relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: $measure * 2 2.5vw;

        @media all and ($viewport-type: $tabletm) {
            width: calc(100% + #{$measure * 2} * 2);
            padding: $measure * 2;
        }

        @media all and ($viewport-type: $laptop) {
            width: calc(100% + #{$measure * 4} * 2);
            padding: $measure * 2 $measure * 4;
        }
        
        &__hd {
            @extend .u--display-flex;
            align-items: center;

            &__link {
                margin-right: $measure * 8;
                align-self: center;

                &__media {
                    display: block;
                }
            }
        }

        &__bd {
            @extend .u--display-flex;
            flex-grow: revert;
            flex-shrink: revert;
            align-items: center;

            &__link {
                margin-right: $measure * 8;
                align-self: center;

                &__media {
                    display: block;
                }
            }
        }
    }
}