@use "sass:map";
@use "sass:color";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/global-components/btn/_g--btn-03" as *;
@use "@scss/global-components/pill/_g--pill-01" as *;
@use "@scss/framework/components/content/_c--content-a" as *;

.c--layout-f {
	background-color: rgba(map.get($color-options, h), 0.1);
	padding: $measure * 7 $measure * 6;

	@media all and ($viewport-type: $laptop) {
		padding: $measure * 4 $measure * 3;
	}

	&__hd {
		@extend .u--display-flex;
		@extend .u--flex-direction-column;
		margin-bottom: $measure * 5;

		@media all and ($viewport-type: $laptop) {
			margin-bottom: $measure * 4;
		}

		&__title {
			@extend .f--font-f;
			@extend .u--font-medium;
			@extend .f--color-b;
		}
	}

	&__bd {
		@extend .u--display-flex;
		@extend .u--flex-direction-column;
		margin-bottom: $measure * 5;

		&:last-child {
			margin-top: auto;
			margin-bottom: 0;
		}

		&__subtitle {
			@extend .f--font-i;
			@extend .u--font-medium;
			@extend .u--text-uppercase;
			@extend .f--color-c;
			@extend .u--letter-spacing-a;
			margin-bottom: $measure * 3;

			&--second {
				color: map.get($color-options, i) !important;
			}
		}

		&__content {
			@extend .c--content-a;
			opacity: 1;

			&--second {
				opacity: 0.6;
			}
		}
	}

	&__ft {
		margin-top: auto;

		&__subtitle {
			@extend .f--font-i;
			@extend .u--font-medium;
			@extend .u--text-uppercase;
			@extend .f--color-b;
			@extend .u--letter-spacing-a;
			margin-bottom: $measure * 3;
		}

		&__list-item {
			@extend .u--display-grid;
			grid-template-columns: repeat(1, 1fr);
			gap: $measure * 2;
			@media all and ($viewport-type: $tablets) {
				grid-template-columns: repeat(3, 1fr);
			}

			@media all and ($viewport-type: $tabletm) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media all and ($viewport-type: $tabletl) {
				grid-template-columns: repeat(3, 1fr);
			}
			
		}
	}

	&__media-wrapper {
		@extend .u--position-relative;
		max-height: 420px;
		margin-bottom: $measure * 3;

		&__overlay {
			@extend .u--position-absolute;
			@extend .u--display-flex;
			@extend .u--flex-direction-column;
			padding: $measure * 3 $measure * 2;
			gap: $measure;

			&__pill {
				@extend .g--pill-01;
				@extend .g--pill-01--fifth;
			}
		}

		&__media {
			@extend .u--display-block;
			@extend .u--width-100;
			@extend .u--height-100;
			object-fit: cover;
		}
	}

	&__btn {
		@extend .g--btn-03;
		@extend .g--btn-03--second;
		width: 100%;
		margin-top: auto;
	}
}