.c--layout-c {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $measure*3;
    justify-content: start;
    justify-items: start;

    @media all and ($viewport-type: $tabletl) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media all and ($viewport-type: $tabletm) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media all and ($viewport-type: $tablets) {
        grid-template-columns: repeat(2, 1fr);
    }
}
