
@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
.c--layout-a {
    @extend .u--position-relative;
    &__title {
        @extend .f--font-i;
        @extend .u--text-uppercase;
        @extend .u--font-medium;
        @extend .f--color-c;
        letter-spacing: 4.16px;
        margin-bottom: $measure*4;
    }
    &__subtitle {
        @extend .f--font-e;
        margin-bottom: $measure * 5;
        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure * 3;
        }
    }
    &__content {
        margin-bottom: $measure * 5;
        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure * 4;
        }
    }
    &__btn {
        @extend .g--btn-01;
    }
    &__media-wrapper {
        @extend .u--display-tablets-none;
        @extend .u--overflow-hidden;
        top: 0;
        right: 0;
        width: 40vw;
        @extend .u--height-100;;
        position: absolute !important;
        @media all and ($viewport-type: $tabletm) {
            width: calc(40vw + 80px);
        }
        &__media {
            @extend .u--display-block;
            @extend .u--width-100;
            @extend .u--height-100;
            object-fit: contain;
            transform: translateX(90px);
        }
    }

    &--second {
        @extend .f--background-b;
    }
}