@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@scss/framework/components/content/_c--content-a" as *;
@use "@scss/global-components/btn/_g--btn-01" as *;

.c--layout-b {

    &__title {
        @extend .f--font-e;
        @extend .u--font-medium;
    }

    &__content {
        @extend .c--content-a;
        margin-top: $measure*2;
        @media all and ($viewport-type:$laptop) {
            margin-top: 0;
        }
    }

    &__btn {
        margin-top: $measure * 5;
        @extend .g--btn-01;

        @media all and (max-width: $tabletl) {
            margin-top: $measure * 4;
        }
    }

    &--large & {
        &__title {
            @extend .f--font-c;
        }
    }

    &--second & {
        &__title {
            @extend .f--color-a;
        }

        &__content {
           @extend .c--content-a--second-color;
        }
    }
}