.g--pill-01 {
    @include make-pill-01();
    @include make-pill-01-modifier(
        $background-options: (
            "background-color": transparent,
        ),
        $border-options: (
            "border-color": map-get($color-options, c),
            "border-radius": $measure * 12.5,
            "border-width": 1px,
            "border-style": solid,
        ),
        $font-options: (
            "color": map-get($color-options, c),
            "className": f--font-i,
            "font-weight": 300,
        ),
        $custom-options: (
            "parent": (
                "white-space": nowrap,
                "overflow": hidden,
                "text-overflow": ellipsis
            )
        )
    );

    &--second {
        @include make-pill-01-modifier(
            $background-options: (
                "background-color": rgba(map-get($color-options, a), 0.2),
            ),
            $border-options: (
                "border-color": rgba(map-get($color-options, a), 0.1),
                "border-radius": $measure * 12.5,
                "border-width": 1px,
                "border-style": solid,
            ),
            $font-options: (
                "color": map-get($color-options, a),
                "font-weight": 300,
            ),
        ); 
    }

    &--third {
        @include make-pill-01-modifier(
            $background-options: (
                "background-color": map-get($color-options, m),
            ),
            $border-options: (
                "border-color": map-get($color-options, m),
                "border-radius": $measure * 12.5,
                "border-width": 1px,
                "border-style": solid,
            ),
            $font-options: (
                "color": map-get($color-options, b),
                "font-weight": 300,
            ),
        ); 
    }

    &--fourth {
        @include make-font-g();
        @include make-pill-01-modifier(
            $background-options: (
                "background-color": transparent,
            ),
            $border-options: (
                "border-color": map-get($color-options, a),
                "border-radius": $measure * 12.5,
                "border-width": 1px,
                "border-style": solid,
            ),
            $font-options: (
                "color": map-get($color-options, a),
                "className": f--font-g,
                "font-weight": 500,
            ),
        ); 
    }
}

a.g--pill-01,
button.g--pill-01 {
    @include make-pill-01-modifier(
        $hover-options: (
            "background-color": map-get($color-options, c),
            "color": map-get($color-options, a),
        ),
    );

    &--second {
        @include make-pill-01-modifier(
            $hover-options: (
                "background-color": rgba(map-get($color-options, a), 0.2),
                "color": map-get($color-options, a),
            ),
        ); 
    }

    &--third {
        @include make-pill-01-modifier(
            $hover-options: (
                "background-color": map-get($color-options, m),
                "color": map-get($color-options, c),
            ),
        ); 
    }

    &--fourth {
        @include make-pill-01-modifier(
            $hover-options: (
                "background-color": map-get($color-options, a),
                "color": map-get($color-options, c),
            ),
        ); 
    }
}