/*
    Foundations
*/

/* Colors */

/* Core Colors */
$color-a: #fffff8;
$color-b: #141018;
$color-c: #f01840;
$color-d: #c01830;
$color-e: #901226;
$color-f: #600c1c;
$color-g: #300810;
$color-h: #d0c8c8;
$color-i: #a0949e;
$color-j: #705e74;
$color-k: #402848;
$color-l: #2a1c30;
// $color-m: #D0C8C833;
$color-m: #f6f4ee;

$color-options: (
  a: $color-a,
  b: $color-b,
  c: $color-c,
  d: $color-d,
  e: $color-e,
  f: $color-f,
  g: $color-g,
  h: $color-h,
  i: $color-i,
  j: $color-j,
  k: $color-k,
  l: $color-l,
  m: $color-m,
);

$colorbg-options: (
  a: $color-a,
  b: $color-m,
  c: $color-k,
  d: $color-l,
  e: $color-j,
  f: $color-c,
  g: $color-d,
);

/* Typography */
$type-a: "AT Lang Gothic", "AT Lang Gothic-fallback", sans-serif;
$type-b: "AT Lang", "AT Lang-fallback", serif;


$all: 0;
$tablets: 581px;
$tabletm: 811px;
$tabletl: 1025px;
$laptop: 1301px;
$desktop: 1571px;
$wide: 1701px;
$viewport-type: min-width;
$viewport-layouts: (
  "all": (
    $viewport-type: $all,
  ),
  "tablets": (
    $viewport-type: $tablets,
  ),
  "tabletm": (
    $viewport-type: $tabletm,
  ),
  "tabletl": (
    $viewport-type: $tabletl,
  ),
  "laptop": (
    $viewport-type: $laptop,
  ),
  "desktop": (
    $viewport-type: $desktop,
  ),
  "wide": (
    $viewport-type: $wide,
  ),
);
$columns: 12;
$gutter-width: 32px;
$half-gutter-width: $gutter-width * 0.5;
$gutter-compensation: -1 * $half-gutter-width;

// Use for almost all Uitlities:
// Display, Aspect Ratio, Flex, Float, Justify, Spacing, Text-align
$breakpoints-grid: (
  all: $all,
  tablets: $tablets,
  tabletm: $tabletm,
  tabletl: $tabletl,
  laptop: $laptop,
  desktop: $desktop,
  wide: $wide,
) !default;

/* Grid */
//Container
// $f-container-fluid-max-width: 2000px;
// $f-container-max-width: 2000px;
$f-container-width: 1900px;
$f-container-width-mobile: 95%;
$f-container-contained-breakpoints: (
  tablets: $tablets,
  tabletm: $tabletm,
);
/*
    End Foundations
*/

// Measure
$measure: 0.5rem; /* 0.5rem = 8px */

// border-radius
$border-radius-a: 2px;

// Time
$time-a: 0.1s; // Micro-interactions such as button and toggle
$time-b: 0.3s; // Expansion, system communication, toast
$time-c: 0.6s; // Background dimming

// Ease
$ease-standard-a: cubic-bezier(0.2, 0, 0.38, 0.9); //productive
$ease-standard-b: cubic-bezier(0, 0, 0.3, 1); //expresive
$ease-entrance-a: cubic-bezier(0, 0, 0.38, 0.9); //productive
$ease-entrance-b: cubic-bezier(0.4, 0.14, 0.3, 1); //expresive
$ease-exit-a: cubic-bezier(0.2, 0, 1, 0.9); //productive
$ease-exit-b: cubic-bezier(0.4, 0.14, 1, 1); //expresive

$zoomPadingWide: $measure * 15; //* what the image will expand both upwards and downwards in the components that scale when scrolling. In desktop
$zoomPadingTabletm: $measure * 12; //* what the image will expand both upwards and downwards in the components that scale when scrolling. In responsive
