@use "@scss/framework/_var/_vars.scss" as *;
@mixin make-sp-a {
    margin-bottom: $measure * 5;
    @media all and ($viewport-type: $tabletm) {
        margin-bottom: $measure * 8;
    }
}

@mixin make-sp-b {
    margin-bottom: $measure * 4;
    @media all and ($viewport-type: $tabletm) {
        margin-bottom: $measure * 5;
    }
}

@mixin make-sp-c {
    margin-bottom: $measure * 3;
    @media all and ($viewport-type: $tabletm) {
        margin-bottom: $measure * 4;
    }
}