.c--cta-a {
    background-color: map-get($color-options, d);

    &__wrapper {
        padding: $measure * 8 0;

        &__media {
            width: 100%;
            height: auto;
            max-height: 30px;
            object-fit: contain;
            object-position: center center;
            margin-bottom: $measure * 2;
        }

        &__subtitle,
        &__category {
            @extend .u--display-block;
            @extend .f--color-a;
            @extend .u--font-light;
            @extend .u--text-center;
        }

        &__subtitle {
            @extend .f--font-g;
        }

        &__title {
            @extend .f--font-e;
            @extend .f--color-a;
            @extend .u--font-medium;
            @extend .u--text-center;
            margin: $measure 0;
        }

        &__category {
            @extend .f--font-i;
        }

        &__btn {
            @extend .g--btn-03;
            margin: $measure * 3 auto 0;
        }
    }
}