
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;


.c--spinner-wrapper-a {
    @extend .u--position-relative;
    width: 100%;
    @media all and ($viewport-type:$tablets) {
       width: auto;
    }
    &__item {
        @extend .u--position-absolute;
        left: 50%;
        top: calc(100% + #{$measure*2});
        transform: translateX(-50%);
        @media all and ($viewport-type:$tablets) {
            top: 50%;
            left: calc(100% + #{$measure*2});
            transform: translateY(-50%);
        }
    }
}