@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--marquee-a {
  @extend .u--display-flex;
  @extend .u--justify-content-center;
  overflow: hidden;

  &__item {
    @extend .u--display-block;
    height: 100%;
    max-width: 250px;
    width: 250px;
    min-height: 72px;
    height: 100%;
    object-fit: contain;
    padding-right: $measure*12;
    @media all and ($viewport-type: $mobile) {
      max-width: 140px;
      padding-right: $measure*5;
    }
  }

  &--second {
    padding-left: $measure*4;
    padding-right: $measure*4;
    flex-wrap: wrap;
    row-gap: $measure*2;
    column-gap: $measure*12;
  }

  &--second & {
    &__item {
      @extend .u--height-100;
      padding-right: 0px;
      max-width: 180px;
      width: 180px;
      @media all and ($viewport-type: $mobile) {
        max-width: 140px;
      }
    }
  }
}
