.c--marquee-a {
    @extend .u--position-relative;
    @extend .u--display-flex;
    @extend .u--align-items-center;
    @extend .u--overflow-hidden;
    padding: $measure*7 0 $measure*10;
    @media all and ($viewport-type:$tablets) {
      padding: $measure*8 0;
    }
    &__wrapper {
      @extend .u--position-relative;
      @extend .u--display-flex;
      @extend .u--align-items-center;
      @extend .u--overflow-hidden;
      @extend .u--justify-content-center;
      padding: 0;
      flex-shrink: 0;
      &__item {
        padding: 0 $measure * 10;
        @media all and ($viewport-type:$tablets) {
          padding: 0 $measure * 8;
        }
        &__media {
          height: 100%;
          width: auto;
          display: block;
          max-width: 200px;
          max-height: 80px;
        }
      }
    }
  }