@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--marquee-a {
  @extend .u--display-flex;
  @extend .u--justify-content-center;
  overflow: hidden;
  white-space: nowrap;
  gap: 96px;
  @media all and ($viewport-type: $tablets) {
    gap: 40px;
  }
  &__item {
    @extend .u--display-block;
    height: 100%;
    max-width: 250px;
    width: 250px;
    min-height: 72px;
    height: 100%;
    object-fit: contain;
    @media all and ($viewport-type: $tablets) {
      max-width: 140px;
    }
    &--initial {
      width: 276px;
      max-width: 276px;
      padding-left: 96px;
      @media all and ($viewport-type: $tablets) {
        padding-left: 40px;
        max-width: 180px;
      }
    }
  }

  &--second {
    padding-left: $measure*4;
    padding-right: $measure*4;
    flex-wrap: wrap;
    row-gap: $measure*2;
    column-gap: $measure*12;
  }

  &--second & {
    &__item {
      @extend .u--height-100;
      @media all and ($viewport-type: $tablets) {
        max-width: 140px;
      }
      &--initial {
        max-width: 180px;
        width: 100%;
        padding-left: 0px;
        @media all and ($viewport-type: $tablets) {
          max-width: 140px;
        }
      }
    }
  }
}
