@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--marquee-a {
  @extend .u--display-flex;
  @extend .u--justify-content-center;
  overflow: hidden;

  &__wrapper {

    max-width: 250px;
    width: 250px;
    min-height: 72px;
    padding-right: $measure*12;
    flex-shrink: 0;
    @media all and ($viewport-type: $mobile) {
      max-width: 140px;
      margin-right: $measure*5;
    }
    &__item {
      @extend .u--display-block;
      height: auto;
      width: 100%;
      min-height: 72px;
      object-fit: contain;
    }
  }

  &--second {
    padding-left: $measure*4;
    padding-right: $measure*4;
    flex-wrap: wrap;
    row-gap: $measure*2;
    column-gap: $measure*12;
  }

  &--second & {
    &__wrapper {

      &__item {
        @extend .u--height-100;
        padding-right: 0px;
        max-width: 180px;
        width: 180px;
        @media all and ($viewport-type: $mobile) {
          max-width: 140px;
        }
      }
    }
  }
}
