@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

@use "@scss/global-components/vars.scss" as *;
@use "@scss/framework/components/content/_c--content-a" as *;
@use "@scss/framework/foundation/font/make-font" as *;

.g--accordion-02 {
  @include make-accordion-02();
  @include make-accordion-02-modifier(
        $border-options: (
          "border-width": 0 0 1px 0,
          "border-style": solid,
          "border-color": rgba(map.get($color-options, b), 0.4)
        ),
        $item-primary-options: (
          "color": map.get($color-options, b),
          "className": f--font-g,
        ),
        $icon-options: (
            "top": 0px,
            "width": 26px,
        ),
        $custom-options: (
          ".g--accordion-02__hd__icon": (
            "height": 26px,
            "z-index": 0,
            "border-radius": 50%,
            "border": 1px solid map.get($color-options, c),
            "transition": background-color $time-b $ease-entrance-a,
          ),
          ".g--accordion-02__hd__icon:after": (
            "position": absolute,
            "content": '',
            "width": 15px,
            "height": 2px,
            "top": 45%,
            "left": 50%,
            "z-index": 0,
            "background-color": map.get($color-options, c),
            "transform": translate(-50%),
            "transition": background-color $time-b $ease-entrance-a,
        ),
        ".g--accordion-02__hd__icon:before": (
            "width": 2px,
            "height": 15px,
            "background-color": map.get($color-options, c),
            "transition": background-color $time-b $ease-entrance-a,
        ),
        ".g--accordion-02__bd__content": (
          "class": c--content-a c--content-a--second-text u--pb-4,
        )
      )
  );
  &--second {
    @include make-accordion-02-modifier(
      $border-options: (
          "border-color": rgba(map.get($color-options, a), 0.4)
      ),
      $item-primary-options: (
          "color": map.get($color-options, a),
          "className": f--font-g,
      ),
      $item-primary-hover-options: (
          "color": map.get($color-options, a),
      ),
      $custom-options: (
        ".g--accordion-02__bd__content": (
          "class": c--content-a c--content-a--second-text c--content-a--second-color u--pb-4,
        )
      )
    );
  }
  &--third {
    @include make-accordion-02-modifier(
      $border-options: (
          "border-color": rgba(map.get($color-options, b), 0.4)
      ),
      $item-primary-options: (
          "color": map.get($color-options, b),
          "className": f--font-g,
      ),
      $item-primary-hover-options: (
          "color": map.get($color-options, c),
      ),
      $custom-options: (
        ".g--accordion-02__bd__content": (
          "class": c--content-a c--content-a--second-text u--pb-4,
        )
      )
    );
  }
 &--fifth {
  @include make-accordion-02-modifier(
    $border-options: (
        "border-width": 0 0 0 0,
        "border-style": solid,
    ),
    $item-primary-options: (
        "className": f--font-e,
    ),
    $item-primary-hover-options: (
        "color": map.get($color-options, c),
    ),
    $icon-options: (
        "top": 0px,
        "width": 26px,
    ),
    $custom-options: (
      ".g--accordion-02__hd": (
        "padding": $measure*8 0px $measure*3 0px,
        "border-bottom": 1px solid rgba(map.get($color-options, b), 0.4),
     ),
      ".g--accordion-02__hd__icon": (
         "height": 26px,
         "z-index": 0,
         "border-radius": 50%,
         "border": 1px solid map.get($color-options, c),
         "transition": background-color $time-b $ease-entrance-a,
      ),
      ".g--accordion-02__hd__icon:after": (
        "position": absolute,
        "content": '',
        "width": 15px,
        "height": 2px,
        "top": 45%,
        "left": 50%,
        "z-index": 0,
        "background-color": map.get($color-options, c),
        "transform": translate(-50%),
        "transition": background-color $time-b $ease-entrance-a,
     ),
     ".g--accordion-02__hd__icon:before": (
        "width": 2px,
        "height": 15px,
        "background-color": map.get($color-options, c),
        "transition": background-color $time-b $ease-entrance-a,
      ),
      "&:hover .g--accordion-02__hd__icon": (
        "background-color": map.get($color-options, c),
      ),
      "&:hover .g--accordion-02__hd__icon:before": (
        "background-color": map.get($color-options, a),
      ),
      "&:hover .g--accordion-02__hd__icon:after": (
        "background-color": map.get($color-options, a),
      ),
    )
  );
}
  &--fifth & {
    &__hd {
      &__item-primary {
        @include make-font-e();
      }
    }
  }
}