@mixin make-gap-a {
    row-gap: $measure * 10;
    @media all and ($viewport-type: $tablets) {
        row-gap: $measure * 7;
    }
}

@mixin make-gap-b {
    row-gap: $measure * 7;
    @media all and ($viewport-type: $tablets) {
        row-gap: $measure * 4;
    }
}

@mixin make-gap-c {
    row-gap: $measure * 4;
    @media all and ($viewport-type: $tablets) {
        row-gap: $measure * 3;
    }
}

@mixin make-gap-d {
    row-gap: $measure * 3;
    @media all and ($viewport-type: $tablets) {
        row-gap: $measure * 3;
    }
}
