//* Reset, GC
@use "@scssFoundation/reset/_reset.scss";
@use "@scssFoundation/_foundation.scss";
@use "@scssUtilities/_utilities.scss";

//* Preloader
@use "@scss/framework/components/preloader/_c--preloader-a";

//* header
@use "@scss/framework/components/header/_c--header-wrapper-a";
@use "@scss/framework/components/header/_c--header-a";

//* accordion
@use "@scss/framework/components/accordion/_c--accordion-a";
@use "@scss/framework/components/accordion/_c--accordion-b";
@use "@scss/global-components/accordion/_g--accordion-02";

@use "@scss/framework/components/marquee/_c--marque-a.scss";
@use "@scss/framework/components/marquee/_c--marquee-b.scss";
//* transition
@use "@scss/framework/components/transition/_c--transition-a";

//* background
@use "@scss/framework/components/background/_c--bg-a";
@use "@scss/framework/components/background/_c--bg-b";

//* banner
@use "@scss/global-components/banner/_g--banner-01";

//* brand
@use "@scss/framework/components/header/_c--brand-a";

//* btn
@use "@scss/framework/components/btn/_c--btn-a";
@use "@scss/global-components/btn/_g--btn-01";
@use "@scss/global-components/btn/_g--btn-03";

//* breadcrumbs
@use "@scss/framework/components/breadcrumbs/_c--breadcrumbs-a";

//* burger
@use "@scss/framework/components/header/_c--burger-a";

//* border
@use "@scss/framework/components/border/_c--border-a";

//* card
@use "@scss/framework/components/card/_c--card-a";
@use "@scss/framework/components/card/_c--card-b";
@use "@scss/framework/components/card/_c--card-c";
@use "@scss/framework/components/card/_c--card-d";
@use "@scss/framework/components/card/_c--card-e";
@use "@scss/framework/components/card/_c--card-f";
@use "@scss/framework/components/card/_c--card-g";
@use "@scss/framework/components/card/_c--card-h";
@use "@scss/framework/components/card/_c--card-i";
@use "@scss/framework/components/card/_c--card-j";
@use "@scss/framework/components/card/_c--card-k";
@use "@scss/framework/components/card/_c--card-l";
@use "@scss/framework/components/card/_c--card-m";
@use "@scss/framework/components/card/_c--card-o";
@use "@scss/global-components/card/_g--card-01";
@use "@scss/global-components/card/_g--card-03";
@use "@scss/global-components/card/_g--card-04";
@use "@scss/global-components/card/_g--card-05";
@use "@scss/global-components/card/_g--card-06";
@use "@scss/global-components/card/_g--card-07";
@use "@scss/global-components/card/_g--card-09";
@use "@scss/global-components/card/_g--card-24";
@use "@scss/global-components/card/_g--card-33";
@use "@scss/global-components/card/_g--card-34";

@use "@scss/framework/components/quiz/_c--quiz-a";

//* webgl
@use "@scss/framework/components/webgl/_c--webgl-a";

//* progress
@use "@scss/framework/components/progress/_c--progress-a";

//* content
@use "@scss/framework/components/content/_c--content-a";

//* cookies
@use "@scss/framework/components/cookies/_c--cookies-a";

//* cta
@use "@scss/framework/components/cta/_c--cta-a";
@use "@scss/framework/components/cta/_c--cta-b";
@use "@scss/framework/components/cta/_c--cta-d";
@use "@scss/framework/components/cta/_c--cta-e";
@use "@scss/global-components/cta/_g--cta-02";

//* curve
@use "@scss/framework/components/curve/_c--curve-a";

//* divider
@use "@scss/framework/components/divider/_c--divider-a";

//* dropdown
@use "@scss/framework/components/header/_c--dropdown-a";

//* filter
@use "@scss/framework/components/form/_c--filter-a";

//* form
@use "@scss/framework/components/form/_c--form-a";
@use "@scss/framework/components/form/_c--form-b";
@use "@scss/framework/components/form/_c--form-d";
@use "@scss/framework/components/form/_c--form-group-a";
@use "@scss/framework/components/form/_c--form-input-a";
@use "@scss/framework/components/form/_c--form-select-a";
@use "@scss/framework/components/form/_c--form-error-a";
@use "@scss/framework/components/form/_c--label-a";

//* footer
@use "@scss/framework/components/footer/_c--footer-a";

//* form-fields
@use "@scss/global-components/form-fields/_g--input-icon-01";

//* heading
@use "@scss/framework/components/heading/_c--heading-a";
@use "@scss/framework/components/heading/_c--heading-b";

//* hero
@use "@scss/framework/components/hero/_c--hero-a";
@use "@scss/framework/components/hero/_c--hero-b";
@use "@scss/framework/components/hero/_c--hero-c";
@use "@scss/framework/components/hero/_c--hero-d";
@use "@scss/framework/components/hero/_c--hero-e";
@use "@scss/framework/components/hero/_c--hero-h";
@use "@scss/global-components/hero/_g--hero-03";
@use "@scss/global-components/hero/_g--hero-04";

//* icon
@use "@scss/framework/components/icon/_c--icon-a";

//* layout
@use "@scss/global-components/layout/_g--layout-01";
@use "@scss/global-components/layout/_g--layout-02";
@use "@scss/framework/components/layout/_c--layout-a";
@use "@scss/framework/components/layout/_c--layout-b";
@use "@scss/framework/components/layout/_c--layout-c";
@use "@scss/framework/components/layout/_c--layout-d";
@use "@scss/framework/components/layout/_c--layout-e";

//* lazy
@use "@scss/global-components/lazy/_g--lazy-01";

//* link
@use "@scss/framework/components/link/_c--link-a";
@use "@scss/framework/components/link/_c--back-link-a";
@use "@scss/global-components/link/_g--link-01";

//* list
@use "@scss/framework/components/list/_c--list-a";

//* media
@use "@scss/framework/components/media/_c--media-a";
@use "@scss/framework/components/media/_c--media-b";
@use "@scss/framework/components/media/_c--media-c";
@use "@scss/framework/components/media/_c--media-d";

//* message
@use "@scss/global-components/message/_g--message-01";

//* nav
@use "@scss/framework/components/nav/_c--nav-a";
@use "@scss/framework/components/nav/_c--nav-b";
@use "@scss/framework/components/nav/_c--nav-c";
@use "@scss/framework/components/nav/_c--nav-d";

//* overlay
@use "@scss/framework/components/header/_c--overlay-a";
@use "@scss/framework/components/header/_c--overlay-b";
@use "@scss/framework/components/overlay/_c--overlay-c";

//* pill
@use "@scss/global-components/pill/_g--pill-01";

//* search
@use "@scss/framework/components/header/_c--search-a";

//* sidenav
@use "@scss/framework/components/nav/_c--sidenav-a";

//* slider
@use "@scss/framework/components/slider/_c--slider-a";
@use "@scss/framework/components/slider/_c--slider-b";
@use "@scss/framework/components/slider/_c--slider-c";
@use "@scss/framework/components/slider/_tiny-slider";

//* social
@use "@scss/framework/components/social/_c--social-a";

//* spinner
@use "@scss/framework/components/spinner/_c--spinner-wrapper-a";
@use "@scss/global-components/spinner/_g--spinner-01";

//* stats
@use "@scss/framework/components/stats/_c--stats-a";

//* sticky
@use "@scss/framework/components/sticky/_c--sticky-a";

//* sitemap
@use "@scss/framework/components/sitemap/_c--sitemap-a";

//* timeline
@use "@scss/framework/components/timeline/_c--timeline-a";

//* wrapper
@use "@scss/framework/components/wrapper/_c--wrapper-a";
@use "@scss/framework/components/wrapper/_c--wrapper-b";

//* zoom-section
@use "@scss/framework/components/zoom-section/_c--zoom-section-a";
@use "@scss/framework/components/zoom-section/_c--zoom-section-b";

//* 404
@use "@scss/global-components/404/_g--404-01";

//* icon heading
@use "@scss/framework/components/icon-heading/_c--icon-heading-a";

@use "@scss/global-components/modal/_g--modal-01";
