.c--arrow-a {
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid map-get($color-options, b);
    background-color: map-get($color-options , a);
    border-radius: 50%;
    transition: background-color $time-b $ease-standard-a;
    cursor: pointer;

    @media all and ($viewport-type: $mobile) {
        border-color: map-get($color-options , a);
    }

    svg {
        width: 16px;
        height: auto;
        path {
            transition: stroke $time-b $ease-standard-a;
        }
    }
    
    

    &:hover {
        background-color: map-get($color-options, b);
        border-color: map-get($color-options , a);

        svg path {
            stroke: map-get($color-options , a);
        }
    }
}