@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/foundation/color/color" as *;
@use "@scss/framework/foundation/background/background" as *;
@use "@scss/framework/foundation/font/font" as *;
@use "@scss/framework/utilities/utilities.scss";
@use "@scss/framework/foundation/foundation.scss" as *;
@use "@terrahq/gc/library" as *;
@use "@scss/global-components/vars.scss" as *;
@use "@scss/framework/foundation/font/make-font" as *;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}

.css-kfhu3b {
  display: none !important;
}

//* End Backend messages

//* Backend sections
.acf-fc-layout-handle {
  background-color: #eeeeee;
  color: #3c434a;
}
//* End Backend sections

//* Backend sections modal
.acf-fc-popup {
  display: flex;
  align-items: center;
  & > ul {
    width: 100% !important;
    grid-template-columns: repeat(6, 1fr) !important;
    grid-gap: 32px !important;
    height: auto !important;
    max-height: 100%;
    background-color: #ffffff !important;
    @media all and ($viewport-type: $tabletl) {
      grid-template-columns: repeat(4, 1fr) !important;
    }
    @media all and ($viewport-type: $tablets) {
      grid-template-columns: repeat(3, 1fr) !important;
    }
    @media all and ($viewport-type: $mobile) {
      grid-template-columns: repeat(2, 1fr) !important;
    }
    & > li {
      white-space: initial;
      display: flex;
      & > a {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: none !important;
        & > div.acf-fc-popup-label {
          height: 100%;
          background-color: #eeeeee;
          text-shadow: none;
          color: #0a132a;
          border-color: #eaf0f6;
          box-shadow: none;
        }
        & > div.acf-fc-popup-image {
          background-repeat: no-repeat !important;
          background-size: contain !important;
          transition: transform $time-b $ease-standard-a;
        }
        &:hover,
        &:focus,
        &:active {
          background: transparent;
          box-shadow: none;
          & > div.acf-fc-popup-label {
            background-color: #eeeeee;
          }
          & > div.acf-fc-popup-image {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
.acf-flexible-content .layout.fc-modal {
  max-width: 1500px !important;
  .acf-fc-modal-content {
    .acf-fields {
      .acf-field-spacing {
        .acf-input {
          ul {
            gap: 16px;
            li {
              width: calc(25% - ((16px * 3) / 4));
              max-width: 120px;
              min-width: 0;
              button {
                width: 100%;
                img {
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
}
//* End Backend sections modal

//* Backend edit section modal
.layout.fc-modal {
  .acf-fc-modal-title {
    background-color: #eeeeee;
  }
  .acf-fc-modal-content {
    .acf-fields {
      .acf-field {
        .acf-input {
          .js--padding {
            li {
              max-width: 25%;
              button {
                max-width: 100%;
                padding: 0;
                img {
                  height: auto;
                  max-width: 100%;
                  max-height: 100px;
                }
              }
            }
            & ~ h2 {
              font-weight: 600;
              font-size: 13px;
              padding-left: 0 !important;
            }
            & ~ ul {
              margin-left: 0 !important;
            }
            & ~ * button {
              font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
              font-size: 10px;
              line-height: 1.4em;
              background-color: #eeeeee;
            }
          }
        }
      }
    }
  }
}
//* End Backend edit section modal

//* Backend images background
.acf-image-uploader .image-wrap img {
  // background-color: #fff !important;
}
//* End Backend images background

//* Backend separate sections
.acf-fields {
  .acf-field {
    .acf-input {
      .acf-repeater {
        .acf-table {
          tbody {
            .acf-row {
              td {
                .acf-table {
                  tbody {
                    .acf-row {
                      &:not(:first-child) {
                        td {
                          border-top: 1px solid #eeeeee;
                        }
                      }
                      td {
                        border-top: 1px solid #eeeeee;
                      }
                    }
                  }
                }
              }
              td.acf-field-image {
                background: #f1f1f1;
              }
              &:not(:first-child) {
                td {
                  border-top: 2px solid #8c8f94;
                  .acf-table {
                    tbody {
                      .acf-row {
                        &:not(:first-child) {
                          td {
                            border-top: 1px solid #eeeeee;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//* End Backend separate sections
* {
  box-sizing: border-box;
}

.c--icon-heading-a {
  align-items: center;
  @extend .u--pt-2;
  @extend .u--pb-4;
  display: flex;

  gap: $measure * 2;

  &__artwork {
    width: 48px;
    height: 48px;
  }
  &__title {
    @extend .f--font-e;
    @extend .f--color-b;
  }
}

.c--card-d {
  @extend .u--display-flex;
  background-color: transparent;

  &__wrapper {
    padding: 0 $measure * 5 $measure * 4 0;
    border-bottom: 1px solid rgba(map.get($color-options, b), 0.4);

    &__title {
      @extend .f--font-c;
      @extend .f--color-c;
      margin-bottom: $measure * 2;
    }

    &__subtitle {
      @extend .f--font-g;
      @extend .u--font-light;
    }
  }

  &--second & {
    &__wrapper {
      border: none;
      &__title {
        @extend .f--font-e;
        margin-bottom: $measure * 2;
      }

      &__subtitle {
        @extend .f--font-h;
        @extend .u--font-light;
      }
    }
  }
}

.g--pill-01 {
  @include make-pill-01();
  @include make-pill-01-modifier(
    $background-options: (
      "background-color": transparent,
    ),
    $border-options: (
      "border-color": map.get($color-options, c),
      "border-radius": $measure * 12.5,
      "border-width": 1px,
      "border-style": solid,
    ),
    $font-options: (
      "color": map.get($color-options, c),
      "className": f--font-i,
      "font-weight": 300,
    ),
    $custom-options: (
      "parent": (
        "white-space": nowrap,
        "overflow": hidden,
        "text-overflow": ellipsis,
      ),
    )
  );
}

.c--conten-a {
  .c--pills-a {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: $measure * 4;
    align-items: center;
  }
  .c--stats-block-a {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
  }
}

.acf-tooltip.acf-fc-popup.top-right > ul{
    grid-gap: 0 !important;
}
.acf-tooltip.acf-fc-popup.top-right > ul li {
    height: 26px;
}
