$media-sizes: (
    //* a: 1.77777777,
    //* 16/9 b: 1.33333333,
    //* 4/3 c: 1.5,
    //* 3/2 d: 1,
    //* 1/1 e: 0.75,
    //* 3/4 f: 0.33333333,
    //* 1/3
);
$ar-breakpoints: (
   all: $all,
//   desktop: $desktop,
//   laptop: $laptop,
//   tabletl: $tabletl,
//   tabletm: $tabletm,
//   tablets: $tablets,
//   mobile: $mobile,
);

@mixin media-sizes($display-size, $breakpoints) {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
        @if ($breakpoint-value == 0) {
            .f--ar {
                @include make-ar();
            }
            @each $name, $size in $display-size {
                .f--ar-#{$name} {
                    @include make-ar($size);
                }
            }
        } @else {
            @media screen and ($viewport-type: $breakpoint-value) {
                @each $name, $size in $display-size {
                    .f--ar-#{$breakpoint-name}-#{$name} {
                        @include make-ar($size);
                    }
                }
            }
        }
    }
}

// Build Columns
@if variable-exists(ar-breakpoints) {
    @include media-sizes($media-sizes, $ar-breakpoints);
}
@else {
    @include media-sizes($media-sizes, $breakpoints-grid);
}
/* End Responsive Columns */
